Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

codecov.yml:

---
comment:                  # this is a top-level key
  layout: "header, diff, flags, components"  # show component info in the PR comment
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false     # [true :: must have a base report to post]
  require_head: false     # [true :: must have a head report to post]

coverage:
  status:
    project:
      tests:
        paths: ["tests/"]
      android:
        paths: ["android/"]
      ios:
        paths: ["ios/"]
      lib:
        paths: ["lib/"]

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: android
      name: android
      paths:
        - android/**
    - component_id: ios
      name: ios
      paths:
        - ios/**
    - component_id: lib
      name: lib
      paths:
        - lib/**

update freezed files
  lib/app/core/states/audio_permission_state.freezed.dart
  lib/app/core/states/location_permission_state.freezed.dart
  lib/app/features/chat/domain/states/chat_channel_state.freezed.dart
  lib/app/features/chat/domain/states/chat_channel_usecase_event.freezed.dart
  lib/app/features/chat/domain/states/chat_main_security_state.freezed.dart
  lib/app/features/chat/domain/states/chat_main_talks_state.freezed.dart
  lib/app/features/escape_manual/data/model/escape_manual_local.g.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.g.dart
  lib/app/features/escape_manual/presentation/edit/edit_trusted_contacts_state.freezed.dart
  lib/app/features/escape_manual/presentation/escape_manual_state.freezed.dart
  lib/app/features/feed/domain/states/feed_router_type.freezed.dart
  lib/app/features/feed/domain/states/feed_routing_state.freezed.dart
  lib/app/features/feed/domain/states/feed_security_state.freezed.dart
  lib/app/features/feed/domain/states/feed_state.freezed.dart
  lib/app/features/filters/states/filter_action_observer.freezed.dart
  lib/app/features/filters/states/filter_state.freezed.dart
  lib/app/features/help_center/domain/states/audio_playing.freezed.dart
  lib/app/features/help_center/domain/states/audio_tile_action.freezed.dart
  lib/app/features/help_center/domain/states/audios_state.freezed.dart
  lib/app/features/help_center/domain/states/guardian_alert_state.freezed.dart
  lib/app/features/help_center/domain/states/guardian_state.freezed.dart
  lib/app/features/help_center/domain/states/help_center_state.freezed.dart
  lib/app/features/help_center/domain/states/new_guardian_state.freezed.dart
  lib/app/features/main_menu/domain/states/account_preference_state.freezed.dart
  lib/app/features/main_menu/domain/states/profile_delete_state.freezed.dart
  lib/app/features/main_menu/domain/states/profile_edit_state.freezed.dart
  lib/app/features/mainboard/domain/states/mainboard_security_state.freezed.dart
  lib/app/features/mainboard/domain/states/mainboard_state.freezed.dart
  lib/app/features/notification/domain/states/notification_state.freezed.dart
  lib/app/features/quiz/domain/entities/quiz_message.freezed.dart
  lib/app/features/quiz/presentation/quiz_start/quiz_start_state.freezed.dart
  lib/app/features/support_center/domain/states/support_center_add_state.freezed.dart
  lib/app/features/support_center/domain/states/support_center_show_state.freezed.dart
  lib/app/features/support_center/domain/states/support_center_state.freezed.dart
  lib/app/features/users/presentation/user_profile_state.freezed.dart
Due: lib

format lint
  lib/app/core/managers/audio_record_services.dart
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/core/managers/location_services.dart
  lib/app/core/network/api_server_configure.dart
  lib/app/features/feed/presentation/stores/tweet_controller.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_title.dart
  lib/app/features/filters/data/models/filter_skills_model.dart
  lib/app/features/help_center/data/models/guardian_session_model.dart
  lib/app/features/help_center/presentation/pages/help_center/help_center_card_guardian.dart
  lib/app/features/support_center/data/models/support_center_metadata_model.dart
Due: lib

skip test for now
  test/app/features/zodiac/presentation/zodiac_page_test.dart
Due: none

remove unecessary config
  android/app/src/main/AndroidManifest.xml
Due: android

remove fine location
  android/app/src/main/AndroidManifest.xml
Due: android

fix background service ios and android
  .fvm/fvm_config.json
  android/app/src/main/AndroidManifest.xml
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
  ios/Runner/AppDelegate.swift
  lib/app/core/managers/impl/background_task_manager.dart
  pubspec.lock
Due: android, ios, lib

fix reload escape manual
  lib/app/features/chat/presentation/pages/chat_assistant_card.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
Due: lib

fix location request and manual not loading
  android/app/src/main/AndroidManifest.xml
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_avatar.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_title.dart
Due: android, lib

skip test for future fix
  test/app/features/chat/presentation/talk/goldens/ci/chat_main_talks_page_initial_state.png
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
Due: none

ffix tests and badge not showing up
  lib/app/features/chat/data/models/chat_user_model.dart
  lib/app/features/chat/presentation/chat/chat_channel_page.dart
  test/app/features/authentication/presentation/sign_in/privacy_policy/privacy_policy_page_test.dart
  test/app/features/authentication/presentation/sign_in/terms_of_use/goldens/ci/terms_of_use_page.png
  test/app/features/authentication/presentation/sign_in/terms_of_use/terms_of_use_page_test.dart
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
  test/app/features/mainboard/presentation/mainboard/pages/goldens/ci/bottom_navigation_with_help_center_and_escape_manual}.png
  test/app/features/mainboard/presentation/mainboard/pages/goldens/ci/bottom_navigation_without_help_center_and_escape_manual}.png
  test/app/features/mainboard/presentation/mainboard/pages/mainboard_bottom_navigation_page_test.dart
  test/assets/json/chat/chat_list_channel.json
  test/assets/json/chat/chat_list_channel_empty.json
  test/assets/json/chat/chat_open_channel.json
  test/assets/json/chat/chat_read_channel.json
  test/assets/json/chat/chat_read_channel_empty.json
  test/main_test.dart
Due: lib

dart format
  lib/app/features/chat/data/models/chat_user_model.dart
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
  test/app/features/mainboard/presentation/mainboard/pages/mainboard_bottom_navigation_page_test.dart
  test/main_test.dart
Due: lib

[Fix] Arrumar bugs pós update (#483)
  android/app/src/main/AndroidManifest.xml
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/features/chat/presentation/pages/chat_assistant_card.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  lib/app/features/feed/presentation/tweet/single_tweet.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_avatar.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_title.dart
  lib/app/features/mainboard/presentation/mainboard/pages/mainboard_bottom_navigation_page.dart
  lib/app/features/support_center/presentation/pages/support_center_input_filter.dart
  test/app/features/chat/presentation/talk/goldens/ci/chat_main_talks_page_initial_state.png
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
Due: android, lib

close background service on logout
  lib/app/core/managers/app_configuration.dart
  lib/app/core/managers/impl/background_task_manager.dart
Due: lib

fix modular bug when logout
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/shared/navigation/app_navigator.dart
  test/app/core/managers/app_configuration_test.dart
  test/app/features/authentication/presentation/sign_in/sign_in_page_test.dart
  test/app/features/splash/splash_page_test.dart
  test/app/shared/navigation/app_navigator_test.dart
Due: lib

(Fix) Fix testes e badge nao aparecendo no chat (#484)
  lib/app/core/managers/app_configuration.dart
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/features/chat/data/models/chat_user_model.dart
  lib/app/features/chat/presentation/chat/chat_channel_page.dart
  lib/app/shared/navigation/app_navigator.dart
  test/app/core/managers/app_configuration_test.dart
  test/app/features/authentication/presentation/sign_in/privacy_policy/privacy_policy_page_test.dart
  test/app/features/authentication/presentation/sign_in/sign_in_page_test.dart
  test/app/features/authentication/presentation/sign_in/terms_of_use/goldens/ci/terms_of_use_page.png
  test/app/features/authentication/presentation/sign_in/terms_of_use/terms_of_use_page_test.dart
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
  test/app/features/mainboard/presentation/mainboard/pages/goldens/ci/bottom_navigation_with_help_center_and_escape_manual}.png
  test/app/features/mainboard/presentation/mainboard/pages/goldens/ci/bottom_navigation_without_help_center_and_escape_manual}.png
  test/app/features/mainboard/presentation/mainboard/pages/mainboard_bottom_navigation_page_test.dart
  test/app/features/splash/splash_page_test.dart
  test/app/shared/navigation/app_navigator_test.dart
  test/assets/json/chat/chat_list_channel.json
  test/assets/json/chat/chat_list_channel_empty.json
  test/assets/json/chat/chat_open_channel.json
  test/assets/json/chat/chat_read_channel.json
  test/assets/json/chat/chat_read_channel_empty.json
  test/main_test.dart
Due: lib

lock maps to version that works with ios 15
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  pubspec.lock
  pubspec.yaml
Due: ios

fix fastlane
  .github/workflows/distribute-flutter-ios.yml
  ios/fastlane/Fastfile
Due: ios

tentativa fix
  .github/workflows/distribute-flutter-ios.yml
Due: none

Update Xcode version in CI workflow to 16.3
  .github/workflows/distribute-flutter-ios.yml
Due: none

fix zone mismatch and google map version
  .github/workflows/distribute-flutter-ios.yml
  ios/fastlane/Fastfile
  lib/bootstrap/bootstrap.dart
  lib/bootstrap/impl/app_runner_mixin.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Due: ios, lib

fix erros modular
  lib/app/features/chat/data/models/chat_user_model.dart
  lib/app/features/chat/presentation/talk/chat_main_talks_controller.dart
  lib/app/features/escape_manual/domain/entity/quiz_page_args.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  lib/app/features/quiz/presentation/quiz_start/quiz_start_controller.dart
  lib/app/features/quiz/quiz_module.dart
  lib/app/features/splash/splash_controller.dart
  test/app/features/chat/presentation/talk/chat_main_talks_page_test.dart
  test/app/features/escape_manual/presentation/escape_manual_controller_test.dart
  test/app/features/quiz/presentation/quiz_start/quiz_start_page_test.dart
  test/app/features/splash/splash_page_test.dart
Due: lib

Remove Xcode version selection step from CI workflow
  .github/workflows/distribute-flutter-ios.yml
Due: none

fix call
  ios/Podfile.lock
  lib/app/features/help_center/presentation/help_center_page.dart
Due: ios, lib

correcoes badges
  lib/app/features/chat/presentation/chat/chat_channel_page.dart
  lib/app/features/chat/presentation/pages/chat_people_card.dart
  lib/app/features/feed/presentation/detail_tweet/detail_tweet_page.dart
  lib/app/features/feed/presentation/reply_tweet/reply_tweet_page.dart
  lib/app/features/feed/presentation/tweet/reply_tweet.dart
  lib/app/features/feed/presentation/tweet/single_tweet.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_body.dart
  lib/app/features/users/presentation/user_profile_page.dart
  lib/app/shared/design_system/widgets/badges/user_badge_widget.dart
Due: lib

correcoes layout badges
  lib/app/features/chat/presentation/pages/chat_channel_card.dart
  lib/app/features/chat/presentation/pages/chat_people_card.dart
  lib/app/features/feed/presentation/tweet/reply_tweet.dart
  lib/app/features/feed/presentation/tweet/single_tweet.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_body.dart
  lib/app/features/users/presentation/user_profile_page.dart
Due: lib

simplify close badge method
  lib/app/features/chat/presentation/pages/chat_channel_card.dart
  lib/app/features/chat/presentation/pages/chat_people_card.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_body.dart
  lib/app/features/users/presentation/user_profile_page.dart
Due: lib

remove wrong file
  adhoc_base64.txt
Due: none

ajustar borda container
  lib/app/shared/design_system/widgets/badges/user_badge_widget.dart
Due: lib
