Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

refactor(buttons): replace custom PenhasButtonStyle with ButtonStyle
  lib/app/shared/design_system/widgets/buttons/penhas_button.dart
  lib/app/shared/design_system/widgets/buttons/styles/filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/penhas_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_outlined_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/text_button_style.dart
Due: lib

refactor(button): rename factory methods for consistency and clarity
  lib/app/shared/design_system/widgets/buttons/penhas_button.dart
  test/app/shared/design_system/widgets/buttons/penhas_button_test.dart
Due: lib

refactor(test): remove unused imports in stealth_security_action_test.dart
  test/app/features/zodiac/domain/usecases/stealth_security_action_test.dart
Due: none

Rename "new_quiz" references to "quiz"
  lib/app/features/quiz/presentation/quiz/messages/_message.dart
  lib/app/features/quiz/presentation/quiz/messages/choices_box.dart
  lib/app/features/quiz/presentation/quiz/messages/horizontal_buttons.dart
  lib/app/features/quiz/presentation/quiz/messages/multiple_choices.dart
  lib/app/features/quiz/presentation/quiz/messages/single_choice.dart
  lib/app/features/quiz/presentation/quiz/messages/text.dart
  lib/app/features/quiz/presentation/quiz/quiz_controller.dart
  lib/app/features/quiz/presentation/quiz/quiz_controller.g.dart
  lib/app/features/quiz/presentation/quiz/quiz_page.dart
  lib/app/features/quiz/quiz_module.dart
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_button_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_button_replyed.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_displayTextResponse_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_displayText_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_empty_state.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_error_state.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_error_state_retry.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_horizontalButtons_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_horizontalButtons_replyed.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_multipleChoices_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_multipleChoices_replyed.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_received_many_messages.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_scroll_to_end.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_showHelpTutorial_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_showHelpTutorial_replyed.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_showStealthTutorial_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_showStealthTutorial_replyed.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_singleChoice_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_singleChoice_replyed.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_yesno_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_yesno_replyed.png
  test/app/features/quiz/presentation/quiz/quiz_page_test.dart
  test/app/features/quiz/presentation/quiz_test_helper.dart
  test/app/features/quiz/quiz_module_test.dart
Due: lib

remover ? e substituir raised button para PenhasButton
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_two/reset_password_two_page.dart
Due: lib

update golden
  test/app/features/authentication/presentation/reset_password/pages/reset_password_two/goldens/ci/reset_password_page_step_2.png
Due: none

fix ? e substituicao de botoes pelo PenhasButton
  lib/app/features/authentication/presentation/sign_in_anonymous/sign_in_anonymous_page.dart
  test/app/features/authentication/presentation/sign_in_anonymous/goldens/ci/sign_in_anonymous_page.png
Due: lib

remover null-aware e trocar botoes para PenhasButton
  lib/app/features/authentication/presentation/sign_in_stealth/sign_in_stealth_page.dart
  test/app/features/authentication/presentation/sign_in_stealth/goldens/ci/sign_in_stealth_page.png
Due: lib

refatoracao page
  lib/app/features/authentication/presentation/sign_in/sign_in_page.dart
Due: lib

Update golden test images to reflect latest changes
  test/app/features/authentication/presentation/sign_in/goldens/ci/sign_in_page.png
Due: none

feat(auth): substituir RaisedButton por PenhasButton na página SignUpTwo
  lib/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_two/sign_up_two_page.dart
  test/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_two/goldens/ci/sign_up_step_2_page.png
Due: lib

feat(auth): atualizar Sign-Up Page button para usar PenhasButton
  lib/app/features/authentication/presentation/sign_in/sign_up/sign_up_page.dart
  test/app/features/authentication/presentation/sign_in/sign_up/goldens/ci/sign_up_step_1_page.png
Due: lib

feat(feed): substitui botão RaisedButton por PenhasButton na página de categorias de tweets
  lib/app/features/feed/presentation/category_tweet/category_tweet_page.dart
Due: lib

feat(feed): substituir RaisedButton por PenhasButton na página de composição de tweets
  lib/app/features/feed/presentation/compose_tweet/compose_tweet_page.dart
  test/app/features/feed/presentation/compose_tweet/goldens/ci/compose_tweet_page.png
  test/app/features/feed/presentation/compose_tweet/goldens/ci/compose_tweet_page_with_app_bar.png
  test/app/features/feed/presentation/compose_tweet/goldens/ci/compose_tweet_page_with_error.png
  test/app/features/feed/presentation/compose_tweet/goldens/ci/compose_tweet_page_with_text.png
Due: lib

refactor(feed): remove operador nulo condicional obsoleto em `DetailTweetPage`
  lib/app/features/feed/presentation/detail_tweet/detail_tweet_page.dart
Due: lib

refactor(feed): remove operador nulo condicional em `addPostFrameCallback`
  lib/app/features/feed/presentation/feed_page.dart
Due: lib

refactor(filter-tweet-page): substitui FlatButton e RaisedButton por PenhasButton remove operador de nulo
  lib/app/features/feed/presentation/filter_tweet/filter_tweet_page.dart
Due: lib

refactor(reply-tweet): substituir RaisedButton por PenhasButton.roundedFilled
  lib/app/features/feed/presentation/reply_tweet/reply_tweet_page.dart
Due: lib

downgrade flutter sound
  lib/app/core/managers/audio_play_services.dart
  lib/app/core/managers/audio_record_services.dart
  pubspec.yaml
Due: lib

fix testes
  test/app/core/managers/audio_play_services_test.dart
  test/app/core/managers/audio_record_services_test.dart
Due: none

update pubspec
  pubspec.lock
Due: none

remover todos
  lib/app/core/managers/audio_play_services.dart
  lib/app/core/managers/audio_record_services.dart
Due: lib

format lint
  test/app/core/managers/audio_record_services_test.dart
Due: none

ios files
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
Due: ios

changelog
  CHANGELOG.md
Due: none

refatoracao audios_page
  lib/app/features/help_center/presentation/audios/audios_page.dart
Due: lib

operador null safety removido
  lib/app/features/help_center/presentation/guardians/guardians_page.dart
Due: lib

refatoracao page help
  lib/app/features/help_center/presentation/help_center_page.dart
Due: lib

remover null operator e substituir botoes
  lib/app/features/help_center/presentation/new_guardian/new_guardian_page.dart
Due: lib

remover null operator
  lib/app/features/help_center/presentation/pages/audio/audio_record_page.dart
Due: lib

remover operador null
  lib/app/features/mainboard/presentation/mainboard/mainboard_page.dart
Due: lib

substituir botao
  lib/app/features/authentication/presentation/deleted_account/deleted_account_page.dart
Due: lib

fix tipo botao
  lib/app/features/authentication/presentation/deleted_account/deleted_account_page.dart
  test/app/features/authentication/presentation/deleted_account/goldens/ci/deleted_account_page.png
Due: lib

fix format
  lib/app/features/help_center/presentation/new_guardian/new_guardian_page.dart
Due: lib

substituir raised button
  lib/app/features/authentication/presentation/shared/login_button.dart
  test/app/features/authentication/presentation/shared/goldens/ci/authentication_shared_login_button.png
Due: lib

substituir raisedButton
  lib/app/features/chat/presentation/pages/channel/chat_channel_message_composer.dart
Due: lib

substituir RaisedButton
  lib/app/features/chat/presentation/pages/chat_people_filter_card.dart
Due: lib

fix imagens test
  test/app/features/authentication/presentation/sign_in/goldens/ci/sign_in_page.png
  test/app/features/authentication/presentation/sign_in_anonymous/goldens/ci/sign_in_anonymous_page.png
Due: none

fix png test
  test/app/features/authentication/presentation/sign_in_stealth/goldens/ci/sign_in_stealth_page.png
Due: none

fix(laudio_record_services): remove commented code
  lib/app/core/managers/audio_record_services.dart
Due: lib

Path conditions:
  android: any of: android/**
  ios: any of: ios/**
  lib: any of: lib/**
