Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

codecov.yml:

---
comment:                  # this is a top-level key
  layout: "header, diff, flags, components"  # show component info in the PR comment
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false     # [true :: must have a base report to post]
  require_head: false     # [true :: must have a head report to post]

coverage:
  status:
    project:
      tests:
        paths: ["tests/"]
      android:
        paths: ["android/"]
      ios:
        paths: ["ios/"]
      lib:
        paths: ["lib/"]

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: android
      name: android
      paths:
        - android/**
    - component_id: ios
      name: ios
      paths:
        - ios/**
    - component_id: lib
      name: lib
      paths:
        - lib/**

Update lib/app/features/support_center/presentation/show/support_center_show_page.dart
  lib/app/features/support_center/presentation/show/support_center_show_page.dart
Due: lib

Update lib/app/features/splash/splash_page.dart
  lib/app/features/splash/splash_page.dart
Due: lib

Update lib/app/features/support_center/presentation/add/support_center_add_page.dart
  lib/app/features/support_center/presentation/add/support_center_add_page.dart
Due: lib

Update lib/app/features/support_center/presentation/list/support_center_list_page.dart
  lib/app/features/support_center/presentation/list/support_center_list_page.dart
Due: lib

fix golden test e nomes
  lib/app/features/authentication/presentation/deleted_account/deleted_account_page.dart
  lib/app/features/authentication/presentation/shared/page_progress_indicator.dart
  lib/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_three/sign_up_three_page.dart
  lib/app/features/chat/presentation/chat/chat_channel_page.dart
  lib/app/features/chat/presentation/chat_main_page.dart
  lib/app/features/chat/presentation/pages/channel/chat_channel_message_composer.dart
  lib/app/features/chat/presentation/people/chat_main_people_page.dart
  lib/app/features/chat/presentation/talk/chat_main_talks_page.dart
  lib/app/features/feed/presentation/detail_tweet/detail_tweet_page.dart
  lib/app/features/feed/presentation/feed_page.dart
  lib/app/features/feed/presentation/filter_tweet/filter_tweet_page.dart
  lib/app/features/feed/presentation/routing_profile_chat/feed_routing_profile_chat_page.dart
  lib/app/features/filters/presentation/filter_page.dart
  lib/app/features/help_center/presentation/new_guardian/new_guardian_page.dart
  lib/app/features/main_menu/presentation/account/delete/account_delete_page.dart
  lib/app/features/main_menu/presentation/account/my_profile/profile_edit_page.dart
  lib/app/features/main_menu/presentation/account/my_profile/skill/profile_skill_page.dart
  lib/app/features/main_menu/presentation/account/preference/account_preference_page.dart
  lib/app/features/quiz/presentation/tutorial/stealth_mode_tutorial_page.dart
  lib/app/features/support_center/presentation/add/support_center_add_page.dart
  lib/app/features/support_center/presentation/show/support_center_show_page.dart
  lib/app/features/support_center/presentation/support_center_page.dart
  lib/app/features/users/presentation/user_profile_page.dart
  test/utils/golden_tests.dart
Due: lib

fix build android
  android/app/build.gradle
  android/build.gradle
  pubspec.lock
Due: android

remover workmanager
  lib/app/core/managers/impl/background_task_manager.dart
  pubspec.yaml
  test/app/core/managers/impl/background_task_manager_test.dart
Due: lib

fix background service ios and android
  .fvm/fvm_config.json
  android/app/src/main/AndroidManifest.xml
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
  ios/Runner/AppDelegate.swift
  lib/app/core/managers/impl/background_task_manager.dart
  pubspec.lock
Due: android, ios, lib

fix android build
  android/app/src/main/AndroidManifest.xml
  lib/app/core/managers/impl/background_task_manager.dart
  pubspec.lock
Due: android, lib

format lint
  lib/app/core/managers/audio_record_services.dart
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/core/managers/location_services.dart
  lib/app/core/network/api_server_configure.dart
  lib/app/features/feed/presentation/stores/tweet_controller.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_title.dart
  lib/app/features/filters/data/models/filter_skills_model.dart
  lib/app/features/help_center/data/models/guardian_session_model.dart
  lib/app/features/help_center/presentation/pages/help_center/help_center_card_guardian.dart
  lib/app/features/support_center/data/models/support_center_metadata_model.dart
Due: lib

remove unecessary config
  android/app/src/main/AndroidManifest.xml
Due: android

remove fine location
  android/app/src/main/AndroidManifest.xml
Due: android

update freezed files
  lib/app/core/states/audio_permission_state.freezed.dart
  lib/app/core/states/location_permission_state.freezed.dart
  lib/app/features/chat/domain/states/chat_channel_state.freezed.dart
  lib/app/features/chat/domain/states/chat_channel_usecase_event.freezed.dart
  lib/app/features/chat/domain/states/chat_main_security_state.freezed.dart
  lib/app/features/chat/domain/states/chat_main_talks_state.freezed.dart
  lib/app/features/escape_manual/data/model/escape_manual_local.g.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.g.dart
  lib/app/features/escape_manual/presentation/edit/edit_trusted_contacts_state.freezed.dart
  lib/app/features/escape_manual/presentation/escape_manual_state.freezed.dart
  lib/app/features/feed/domain/states/feed_router_type.freezed.dart
  lib/app/features/feed/domain/states/feed_routing_state.freezed.dart
  lib/app/features/feed/domain/states/feed_security_state.freezed.dart
  lib/app/features/feed/domain/states/feed_state.freezed.dart
  lib/app/features/filters/states/filter_action_observer.freezed.dart
  lib/app/features/filters/states/filter_state.freezed.dart
  lib/app/features/help_center/domain/states/audio_playing.freezed.dart
  lib/app/features/help_center/domain/states/audio_tile_action.freezed.dart
  lib/app/features/help_center/domain/states/audios_state.freezed.dart
  lib/app/features/help_center/domain/states/guardian_alert_state.freezed.dart
  lib/app/features/help_center/domain/states/guardian_state.freezed.dart
  lib/app/features/help_center/domain/states/help_center_state.freezed.dart
  lib/app/features/help_center/domain/states/new_guardian_state.freezed.dart
  lib/app/features/main_menu/domain/states/account_preference_state.freezed.dart
  lib/app/features/main_menu/domain/states/profile_delete_state.freezed.dart
  lib/app/features/main_menu/domain/states/profile_edit_state.freezed.dart
  lib/app/features/mainboard/domain/states/mainboard_security_state.freezed.dart
  lib/app/features/mainboard/domain/states/mainboard_state.freezed.dart
  lib/app/features/notification/domain/states/notification_state.freezed.dart
  lib/app/features/quiz/domain/entities/quiz_message.freezed.dart
  lib/app/features/quiz/presentation/quiz_start/quiz_start_state.freezed.dart
  lib/app/features/support_center/domain/states/support_center_add_state.freezed.dart
  lib/app/features/support_center/domain/states/support_center_show_state.freezed.dart
  lib/app/features/support_center/domain/states/support_center_state.freezed.dart
  lib/app/features/users/presentation/user_profile_state.freezed.dart
Due: lib

update golden
  test/app/features/zodiac/presentation/goldens/ci/zodiac_page.png
Due: none

skip test for now
  test/app/features/zodiac/presentation/zodiac_page_test.dart
Due: none

tentativa fix github
  .github/workflows/distribute-flutter-android.yml
Due: none

Habilita renovate bot para atualizações
  renovate.json
Due: none

small design fixes
  lib/app/features/feed/presentation/tweet/single_tweet.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_avatar.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_title.dart
  lib/app/features/mainboard/presentation/mainboard/pages/mainboard_bottom_navigation_page.dart
  lib/app/features/support_center/presentation/pages/support_center_input_filter.dart
Due: lib
