Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

fix(audio_play_services): removed commented code
  lib/app/core/managers/audio_play_services.dart
Due: lib

feat(authentication): implementa validação manual de CPF e remove dependência externa
  lib/app/features/authentication/domain/usecases/cpf.dart
  pubspec.yaml
  test/app/features/authentication/domain/usecases/cpf_test.dart
Due: lib

test(authentication): aprimora testes para validação de CPF com casos adicionais
  lib/app/features/authentication/domain/usecases/cpf.dart
  pubspec.lock
  test/app/features/authentication/domain/usecases/cpf_test.dart
Due: lib

refactor(authentication): substitui RaisedButton por PenhasButton na ResetPasswordPage
  lib/app/features/authentication/presentation/reset_password/reset_password_page.dart
  test/app/features/authentication/presentation/reset_password/goldens/ci/reset_password_page_step_1.png
Due: lib

refactor(authentication): substitui RaisedButton por PenhasButton na página ResetPasswordThree
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_three/reset_password_three_page.dart
  test/app/features/authentication/presentation/reset_password/pages/reset_password_three/goldens/ci/reset_password_page_step_3.png
Due: lib

substituir por penhas button outlined
  lib/app/features/feed/presentation/pages/feed_category_filter.dart
Due: lib

substituir raisedbutton por penhasbutton
  lib/app/features/feed/presentation/pages/feed_tags_filter.dart
Due: lib

feat(design-system): adiciona suporte ao estado 'disabled' nos estilos de botões
  lib/app/shared/design_system/widgets/buttons/styles/filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_outlined_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/text_button_style.dart
  test/app/shared/design_system/widgets/buttons/goldens/ci/penhas_button.png
  test/app/shared/design_system/widgets/buttons/penhas_button_test.dart
Due: lib

feat(design-system): adiciona cor para estado ‘disabled’ em PenhasColors
  lib/app/shared/design_system/styles/penhas_colors.dart
Due: lib

refactor(design-system): implementa uso consistente de disabledBackground em estilos de botões
  lib/app/shared/design_system/widgets/buttons/styles/filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_outlined_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/text_button_style.dart
  test/app/shared/design_system/widgets/buttons/goldens/ci/penhas_button.png
Due: lib

Merge branch 'main' of github.com-personal:institutoazmina/penhas-app into 257-fix-corrigir-uso-de-operador-null-aware-desnecessário-e-raisedbutton-descontinuado-no-arquivo-compose_tweet_pagedart
  lib/app/features/authentication/domain/usecases/cpf.dart
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_three/reset_password_three_page.dart
  lib/app/features/authentication/presentation/reset_password/reset_password_page.dart
  lib/app/shared/design_system/styles/penhas_colors.dart
  lib/app/shared/design_system/widgets/buttons/styles/filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_outlined_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/text_button_style.dart
  pubspec.lock
  pubspec.yaml
  test/app/features/authentication/domain/usecases/cpf_test.dart
  test/app/features/authentication/presentation/reset_password/goldens/ci/reset_password_page_step_1.png
  test/app/features/authentication/presentation/reset_password/pages/reset_password_three/goldens/ci/reset_password_page_step_3.png
  test/app/shared/design_system/widgets/buttons/goldens/ci/penhas_button.png
  test/app/shared/design_system/widgets/buttons/penhas_button_test.dart
Due: lib

fix(button-style): ajusta cor da borda em estado ativo no RoundedOutlinedButtonStyle
  lib/app/shared/design_system/widgets/buttons/styles/rounded_outlined_button_style.dart
  test/app/features/authentication/presentation/sign_in/goldens/ci/sign_in_page.png
  test/app/shared/design_system/widgets/buttons/goldens/ci/penhas_button.png
Due: lib

update golden
  test/app/features/feed/presentation/compose_tweet/goldens/ci/compose_tweet_page.png
  test/app/features/feed/presentation/compose_tweet/goldens/ci/compose_tweet_page_with_app_bar.png
Due: none

[refactor] Remover dependência da biblioteca "flutter_launcher_name" Fixes #292
  ios/Gemfile.lock
  ios/Podfile.lock
  penhas.code-workspace
  pubspec.lock
  pubspec.yaml
Due: ios

feat(tests): adicionar testes de unidade para SupportCenterDetailMapWidget com integração simulada do GoogleMap
  test/app/features/support_center/presentation/pages/widget/support_center_detail_map_test.dart
Due: none

feat(widget): adicionar SmoothStarRatingWidget para entrada de classificação por estrelas
  lib/app/features/support_center/presentation/pages/widget/smooth_star_rating_widget.dart
Due: lib

refatorar(testes): substituir FakePlatformViewsController por FakeGoogleMapPlatformViewsController e mover para um novo arquivo para melhorar a estrutura do teste
  test/app/features/support_center/presentation/pages/widget/support_center_detail_map_test.dart
  test/utils/fake_google_map_platform_views_controller.dart
Due: none

refactor(support-center): substituir SupportCenterDetailMap por SupportCenterDetailMapWidget em SupportCenterShowPage
  lib/app/features/support_center/presentation/show/support_center_show_page.dart
Due: lib

refactor(support-center): substituir SmoothStarRating por SmoothStarRatingWidget
  lib/app/features/support_center/presentation/pages/widget/support_center_rate_widget.dart
Due: lib

chore(dependências): remover dependência smooth_star_rating
  pubspec.lock
  pubspec.yaml
Due: none

refactor(tests): wrap SupportCenterRateWidget in Scaffold and update golden image
  test/app/features/support_center/presentation/pages/widget/goldens/ci/support_center_rate_widget.png
  test/app/features/support_center/presentation/pages/widget/support_center_rate_widget_test.dart
Due: none

feat(support-center): adicionar SupportCenterDetailMapWidget para exibir a localização no mapa
  lib/app/features/support_center/presentation/pages/widget/support_center_detail_map_widget.dart
Due: lib

refactor(support-center): substituir RaisedButton por PenhasButton em SupportCenterShowPage e remover estilo de título de botão não utilizado
  lib/app/features/support_center/presentation/show/support_center_show_page.dart
Due: lib

chore(workspace): adicionado nova configuração de execução "Test Coverage" para cobertura de testes
  penhas.code-workspace
Due: none

feat(support-center): adicionar SupportCenterRateWidget para avaliações de usuários
  lib/app/features/support_center/presentation/pages/widget/support_center_rate_widget.dart
  lib/app/features/support_center/presentation/show/support_center_show_page.dart
  test/app/features/support_center/presentation/pages/widget/goldens/ci/support_center_rate_widget.png
  test/app/features/support_center/presentation/pages/widget/support_center_rate_widget_test.dart
Due: lib

feat(workspace): adicione 'easter' à configuração do cSpell.words
  penhas.code-workspace
Due: none

feat(support-center): substituir FlatButton por PenhasButton e adicionar testes para SupportCenterGeneralError
  lib/app/features/support_center/presentation/pages/support_center_general_error.dart
  test/app/features/support_center/presentation/pages/goldens/ci/support_center_general_error.png
  test/app/features/support_center/presentation/pages/support_center_general_error_test.dart
Due: lib

fix(chat): corrigir erro de digitação no nome da variável
  test/app/features/chat/presentation/talk/chat_main_talks_page_test.dart
Due: none

refactor(testes): substituir SmoothStarRating por SmoothStarRatingWidget nos testes
  test/app/features/support_center/presentation/pages/widget/support_center_rate_widget_test.dart
Due: none

feat(tests): adicionar testes de widget SupportCenterShowPage com estados de loading, error e loaded
  test/app/features/support_center/presentation/show/goldens/ci/support_center_show_page_error.png
  test/app/features/support_center/presentation/show/goldens/ci/support_center_show_page_loaded.png
  test/app/features/support_center/presentation/show/support_center_show_page_test.dart
Due: none

fix(chat): atualizar imagem de estado de erro para página principal de conversas do chat
  test/app/features/chat/presentation/talk/goldens/ci/chat_main_talks_page_error_state.png
Due: none

fix(escape-manual): atualizar imagem de estado de erro para EscapeManualPage
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_error.png
Due: none

feat(tests): adicionar extensão WidgetTester para inicialização de aplicativo em testes de widget
  test/utils/widget_test_steps.dart
Due: none

Path conditions:
  android: any of: android/**
  ios: any of: ios/**
  lib: any of: lib/**
