Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

Use escape manual cache in remote datasource
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  test/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource_test.dart
  test/assets/json/escape_manual/escape_manual_updated_response.json
Due: lib

Update test/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource_test.dart
  test/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource_test.dart
Due: none

Update unit tests
  test/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource_test.dart
  test/app/features/escape_manual/data/model/escape_manual_fixtures.dart
  test/assets/json/escape_manual/escape_manual_latest_response.json
Due: none

Fix cache store references
  lib/app/features/escape_manual/escape_manual_module.dart
Due: lib

Add removeTask to local datasource
  lib/app/features/escape_manual/data/datasource/escape_manual_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource.dart
Due: lib

Add escape manual local datasource
  lib/app/features/escape_manual/data/datasource/escape_manual_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource.dart
Due: lib

Add saveTask to local datasource
  lib/app/features/escape_manual/data/datasource/escape_manual_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource.dart
Due: lib

Add clearBefore to local datasource
  lib/app/core/extension/iterable.dart
  lib/app/features/escape_manual/data/datasource/escape_manual_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource.dart
Due: lib

Make tasks variable final
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource.dart
Due: lib

Add local datasource tests
  test/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource_test.dart
Due: none

Provide local datasource
  lib/app/features/escape_manual/data/datastore/escape_manual_persistent_store.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  test/app/features/escape_manual/data/datastore/escape_manual_persistent_store_test.dart
Due: lib

Update ios gems
  ios/Gemfile.lock
Due: ios

Update android gems
  android/Gemfile.lock
Due: android

Update podfile
  ios/Podfile.lock
Due: ios

Add DeleteEscapeManualTaskUseCase
  lib/app/features/escape_manual/data/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/domain/delete_escape_manual_task.dart
  lib/app/features/escape_manual/domain/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
  test/app/features/escape_manual/domain/delete_escape_manual_task_test.dart
Due: lib

Add UpdateEscapeManualTaskUseCase
  lib/app/features/escape_manual/data/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/domain/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/domain/update_escape_manual_task.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  test/app/features/escape_manual/data/model/escape_manual_fixtures.dart
  test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
  test/app/features/escape_manual/domain/update_escape_manual_task_test.dart
Due: lib

Add local datasource to repository
  lib/app/core/extension/date_time.dart
  lib/app/features/escape_manual/data/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  test/app/features/escape_manual/data/model/escape_manual_fixtures.dart
  test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
Due: lib

Remove isEditable field
  lib/app/features/escape_manual/data/model/escape_manual_mapper.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.g.dart
  lib/app/features/escape_manual/domain/entity/escape_manual.dart
  test/app/features/escape_manual/data/model/escape_manual_fixtures.dart
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
Due: lib

Change userInputValue to null
  test/app/features/escape_manual/data/model/escape_manual_fixtures.dart
Due: none

Add usage for 'consultado_em'
  lib/app/core/extension/date_time.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.g.dart
  test/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource_test.dart
  test/app/features/escape_manual/data/model/escape_manual_fixtures.dart
  test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
  test/assets/json/escape_manual/escape_manual_latest_response.json
  test/assets/json/escape_manual/escape_manual_response.json
Due: lib

Add tasks deletion
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.g.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  test/app/features/escape_manual/presentation/escape_manual_controller_test.dart
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_sections.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_task_check.png
Due: lib

Update task list layout
  assets/images/svg/actions/delete.svg
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_loaded.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_reaction_error.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_sections.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_task_check.png
Due: lib

Add tasks update
  lib/app/features/escape_manual/domain/entity/escape_manual.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.g.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  test/app/features/escape_manual/presentation/escape_manual_controller_test.dart
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_loaded.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_reaction_error.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_sections.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_task_check.png
Due: lib

Fix showSnackBar typo
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  lib/app/features/escape_manual/presentation/escape_manual_state.dart
  lib/app/features/escape_manual/presentation/escape_manual_state.freezed.dart
  test/app/features/escape_manual/presentation/escape_manual_controller_test.dart
Due: lib

Update changelog
  CHANGELOG.md
Due: none

Update EscapeManualController tests
  test/app/features/escape_manual/presentation/escape_manual_controller_test.dart
Due: none

Update EscapeManualPage tests
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  pubspec.yaml
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_task_options.png
Due: lib

Use only needed argument in copyWith
  lib/app/features/escape_manual/domain/entity/escape_manual.dart
Due: lib

Reformat code
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
Due: lib

Make sections argument required
  lib/app/features/escape_manual/domain/entity/escape_manual.dart
Due: lib

Path conditions:
  android: any of: android/**
  ios: any of: ios/**
  lib: any of: lib/**
