Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

Add test helper to tap button
  test/utils/widget_test_steps.dart
Due: none

Update snapshots
  test/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_two/goldens/ci/sign_up_step_2_page.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_reaction_error.png
  test/app/features/feed/presentation/compose_tweet/goldens/ci/compose_tweet_page_with_error.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_error_state.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_error_state_retry.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_error_state.png
Due: none

Bump Flutter to 3.0.5
  .fvm/fvm_config.json
Due: none

Bump some packages according Flutter 3.0.5
  pubspec.lock
Due: none

Bump gems
  android/Gemfile.lock
  ios/Gemfile
  ios/Gemfile.lock
  ios/Runner.xcodeproj/project.pbxproj
Due: android, ios

Update Flutter version requirement on README.md
  README.md
Due: none

Update 'location_services' tests
  test/app/core/managers/goldens/ci/location_services_test_requestPermission_dialog_denied.png
  test/app/core/managers/goldens/ci/location_services_test_requestPermission_dialog_limited.png
  test/app/core/managers/goldens/ci/location_services_test_requestPermission_dialog_permanentlyDenied.png
  test/app/core/managers/location_services_test.dart
Due: none

Replace deprecated buttons on 'location_services.dart' file
  lib/app/core/managers/location_services.dart
Due: lib

Fix typo in request location permission dialog
  lib/app/features/support_center/presentation/support_center_controller.dart
Due: lib

Replace deprecated buttons on 'deleted_account_page.dart' file
  lib/app/features/authentication/presentation/deleted_account/deleted_account_page.dart
Due: lib

Replace deprecated buttons on 'reset_password_three_page.dart' file
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_three/reset_password_three_page.dart
Due: lib

Replace deprecated buttons on 'reset_password_two_page.dart' file
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_two/reset_password_two_page.dart
Due: lib

Replace deprecated buttons on 'reset_password_page.dart' file
  lib/app/features/authentication/presentation/reset_password/reset_password_page.dart
Due: lib

Replace deprecated buttons on 'login_button.dart' file
  lib/app/features/authentication/presentation/shared/login_button.dart
Due: lib

Replace deprecated buttons on 'sign_in_page.dart' file
  lib/app/features/authentication/presentation/sign_in/sign_in_page.dart
Due: lib

Replace deprecated buttons on 'sign_up_page.dart' file
  lib/app/features/authentication/presentation/sign_in/sign_up/sign_up_page.dart
Due: lib

Replace deprecated buttons on 'sign_up_three_page.dart' file
  lib/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_three/sign_up_three_page.dart
Due: lib

Replace deprecated buttons on 'sign_up_two_page.dart' file
  lib/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_two/sign_up_two_page.dart
Due: lib

Replace deprecated buttons on 'sign_in_anonymous_page.dart' file
  lib/app/features/authentication/presentation/sign_in_anonymous/sign_in_anonymous_page.dart
Due: lib

Replace deprecated buttons on 'sign_in_stealth_page.dart' file
  lib/app/features/authentication/presentation/sign_in_stealth/sign_in_stealth_page.dart
Due: lib

Release version 3.7.0
  CHANGELOG.md
  pubspec.yaml
Due: none

Update README.md
  README.md
Due: none

Update feature_toggles.md
  docs/feature_toggles.md
Due: none

Remove unused remote config keys
  lib/app/core/remoteconfig/remote_config_keys.dart
  test/app/core/remoteconfig/remote_config_test.dart
Due: lib

[ci] Atualiza versões das actions usadas
  .github/workflows/check-generated-files.yml
  .github/workflows/check_secrets.yml
  .github/workflows/code-quality.yml
  .github/workflows/distribute-flutter-android.yml
  .github/workflows/distribute-flutter-ios.yml
  .github/workflows/scorecards.yml
Due: none

docs: Documentação do PenhasButton
  lib/app/shared/design_system/widgets/buttons/penhas_button.dart
Due: lib

feat: Componente de estilo de texto para o Penhas
  lib/app/shared/design_system/styles/penhas_text_style.dart
Due: lib

docs: Documentação do PenhasTextStyle
  lib/app/shared/design_system/styles/penhas_text_style.dart
Due: lib

feat: Estilos para os botões
  lib/app/shared/design_system/widgets/buttons/styles/flat_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/penhas_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/text_button_style.dart
Due: lib

style: Formatação das propriedade no fonts
  pubspec.yaml
Due: none

test: Cobertura de teste do PenhasButton
  test/app/shared/design_system/widgets/buttons/goldens/ci/penhas_button.png
  test/app/shared/design_system/widgets/buttons/penhas_button_test.dart
Due: none

feat: Componente de botão para o design system do Penhas
  lib/app/shared/design_system/widgets/buttons/penhas_button.dart
Due: lib

feat: Componentes de cores para o Penhas
  lib/app/shared/design_system/styles/penhas_colors.dart
Due: lib

docs: Documentação da estilo de botão
  lib/app/shared/design_system/widgets/buttons/styles/flat_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/penhas_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/text_button_style.dart
Due: lib

feature: Estilo de botão delineado
  lib/app/shared/design_system/widgets/buttons/penhas_button.dart
  lib/app/shared/design_system/widgets/buttons/styles/filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_outlined_button_style.dart
  test/app/shared/design_system/widgets/buttons/goldens/ci/penhas_button.png
  test/app/shared/design_system/widgets/buttons/penhas_button_test.dart
Due: lib

test: Cobertura de teste do estilo de texto
  test/app/shared/design_system/styles/goldens/ci/penhas_text_style.png
  test/app/shared/design_system/styles/penhas_text_style_test.dart
Due: none

Path conditions:
  android: any of: android/**
  ios: any of: ios/**
  lib: any of: lib/**
