Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

codecov.yml:

---
comment:                  # this is a top-level key
  layout: "header, diff, flags, components"  # show component info in the PR comment
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false     # [true :: must have a base report to post]
  require_head: false     # [true :: must have a head report to post]

coverage:
  status:
    project:
      tests:
        paths: ["tests/"]
      android:
        paths: ["android/"]
      ios:
        paths: ["ios/"]
      lib:
        paths: ["lib/"]

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: android
      name: android
      paths:
        - android/**
    - component_id: ios
      name: ios
      paths:
        - ios/**
    - component_id: lib
      name: lib
      paths:
        - lib/**

Add SendPendingEscapeManualTasksUseCase
  lib/app/features/escape_manual/data/datasource/escape_manual_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource.dart
  lib/app/features/escape_manual/data/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/domain/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/domain/send_pending_escape_manual_tasks.dart
  test/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource_test.dart
  test/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource_test.dart
  test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
  test/app/features/escape_manual/domain/send_pending_escape_manual_tasks_test.dart
Due: lib

Update escape_manual_persistent_store_test.dart
  test/app/features/escape_manual/data/datastore/escape_manual_persistent_store_test.dart
Due: none

Initialize WorkManager plugin
  ios/Podfile.lock
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Due: ios, lib

Add background task manager
  lib/app/app_module.dart
  lib/app/core/managers/background_task_manager.dart
  lib/app/core/managers/impl/background_task_manager.dart
  test/app/core/managers/impl/background_task_manager_test.dart
Due: lib

Setup Workmanager plugin in iOS
  ios/Runner/AppDelegate.swift
  ios/Runner/Info.plist
Due: ios

Fix display of user reply of single button
  lib/app/features/quiz/presentation/quiz/quiz_controller.dart
Due: lib

Bump Kotlin to 1.8.10
  android/build.gradle
Due: android

Set xcode version on fastlane
  .github/workflows/distribute-flutter-ios.yml
  ios/fastlane/Fastfile
Due: ios

Create SendPendingEscapeManualTask task
  ios/Runner/Info.plist
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/escape_manual/presentation/send_pending_escape_manual_task.dart
Due: ios, lib

Update CHANGELOG
  CHANGELOG.md
Due: none

WIP: Background task registry auto generated
  lib/app/core/managers/background_task_manager.dart
  lib/app/features/escape_manual/presentation/send_pending_escape_manual_task.dart
Due: lib

Workaround: include widget routes
  lib/app/app_module.dart
  lib/app/core/extension/modular.dart
Due: lib

Set AppBar default background color
  lib/app/shared/design_system/theme.dart
Due: lib

WIP: escape manual sync
  lib/app/features/escape_manual/data/datasource/escape_manual_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource.dart
  lib/app/features/escape_manual/data/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  test/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource_test.dart
  test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
Due: lib

Workaround: logger
  lib/app/shared/logger/log.dart
Due: lib

Remove duplicated imports
  test/app/features/zodiac/domain/usecases/stealth_security_action_test.dart
Due: none

Dev: allow bad certificate from dev API
  lib/main.dart
Due: lib

Revert "Workaround: include widget routes"
  lib/app/app_module.dart
  lib/app/core/extension/modular.dart
Due: lib

WIP: Refactor
  lib/app/core/storage/hive_local_storage.dart
  lib/app/core/storage/migrator_local_storage.dart
  lib/app/features/authentication/presentation/shared/map_failure_message.dart
  lib/app/features/escape_manual/data/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/domain/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/domain/start_escape_manual.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/quiz/presentation/quiz/quiz_controller.dart
  test/app/core/storage/hive_local_storage_test.dart
  test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
  test/app/features/escape_manual/domain/start_escape_manual_test.dart
Due: lib

Add debug label for GlobalKeys
  lib/app/features/authentication/presentation/deleted_account/deleted_account_page.dart
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_three/reset_password_three_page.dart
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_two/reset_password_two_page.dart
  lib/app/features/authentication/presentation/reset_password/reset_password_page.dart
  lib/app/features/authentication/presentation/sign_in/sign_in_page.dart
  lib/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_three/sign_up_three_page.dart
  lib/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_two/sign_up_two_page.dart
  lib/app/features/authentication/presentation/sign_in/sign_up/sign_up_page.dart
  lib/app/features/authentication/presentation/sign_in_anonymous/sign_in_anonymous_page.dart
  lib/app/features/authentication/presentation/sign_in_stealth/sign_in_stealth_page.dart
  lib/app/features/escape_manual/presentation/edit/edit_trusted_contacts_dialogs.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  lib/app/features/feed/presentation/category_tweet/category_tweet_page.dart
  lib/app/features/feed/presentation/compose_tweet/compose_tweet_page.dart
  lib/app/features/feed/presentation/detail_tweet/detail_tweet_page.dart
  lib/app/features/feed/presentation/feed_page.dart
  lib/app/features/feed/presentation/filter_tweet/filter_tweet_page.dart
  lib/app/features/feed/presentation/reply_tweet/reply_tweet_page.dart
  lib/app/features/filters/presentation/pages/filter_loaded_state_page.dart
  lib/app/features/help_center/presentation/audios/audios_page.dart
  lib/app/features/help_center/presentation/guardians/guardians_page.dart
  lib/app/features/help_center/presentation/help_center_page.dart
  lib/app/features/help_center/presentation/new_guardian/new_guardian_page.dart
  lib/app/features/help_center/presentation/pages/audio/audio_record_page.dart
  lib/app/features/main_menu/presentation/account/delete/account_delete_page.dart
  lib/app/features/main_menu/presentation/account/my_profile/profile_edit_page.dart
  lib/app/features/main_menu/presentation/account/my_profile/skill/pages/profile_skill_loaded_state_page.dart
  lib/app/features/main_menu/presentation/account/preference/account_preference_page.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_page.dart
  lib/app/features/quiz/presentation/quiz/quiz_page.dart
  lib/app/features/support_center/presentation/add/support_center_add_page.dart
  lib/app/features/support_center/presentation/support_center_page.dart
  lib/app/features/users/presentation/user_profile_dialogs.dart
  lib/app/features/users/presentation/user_profile_page.dart
Due: lib

Schedule task when failed to send escape manual update
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  test/app/features/escape_manual/presentation/escape_manual_controller_test.dart
Due: lib

fixup! Setup Workmanager plugin in iOS
  ios/Runner/AppDelegate.swift
Due: ios

Remove unused files
  lib/app/features/feed/presentation/tweet/widgets/helpers/expand_child.dart
  lib/app/features/support_center/domain/states/support_center_location_state.dart
  lib/app/features/support_center/domain/states/support_center_location_state.freezed.dart
  lib/app/features/support_center/presentation/pages/support_center_cep_error.dart
  lib/app/features/support_center/presentation/pages/support_center_checkbox.dart
  lib/app/features/support_center/presentation/pages/support_center_input_number.dart
  lib/app/features/support_center/presentation/pages/support_center_location_address.dart
  lib/app/features/support_center/presentation/pages/support_center_location_general_error.dart
Due: lib

Update test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
  test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
Due: none

Use MainAppRunner in application entrypoint
  lib/main.dart
  test/main_test.dart
Due: lib

Add MainAppRunner
  lib/app/shared/logger/crashlytics.dart
  lib/bootstrap/impl/app_runner_mixin.dart
  lib/bootstrap/impl/main_app_runner.dart
  test/bootstrap/impl/main_app_runner_test.dart
  test/utils/mock_callbacks.dart
Due: lib

Some remote_config refactor
  lib/app/app_module.dart
  lib/app/core/remoteconfig/remote_config.dart
  lib/main.dart
  test/app/app_module_test.dart
  test/app/core/remoteconfig/remote_config_test.dart
Due: lib

Add bootstrap class
  lib/bootstrap/bootstrap.dart
  test/bootstrap/bootstrap_test.dart
  test/utils/mock_callbacks.dart
  test/utils/test_utils.dart
Due: lib

Add workmanager dependency
  ios/Podfile.lock
  pubspec.lock
  pubspec.yaml
Due: ios

Update Podfile.lock
  ios/Podfile.lock
Due: ios

Initialize WorkManager plugin
  ios/Podfile.lock
  pubspec.lock
  pubspec.yaml
Due: ios

Add background task manager
  lib/app/app_module.dart
  lib/app/core/managers/background_task_manager.dart
  lib/app/core/managers/impl/background_task_manager.dart
  test/app/app_module_test.dart
  test/app/core/managers/impl/background_task_manager_test.dart
Due: lib

Update test/app/app_module_test.dart
  test/app/app_module_test.dart
Due: none

Create SendPendingEscapeManualTask task
  ios/Runner/Info.plist
  lib/app/core/extension/either.dart
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/escape_manual/presentation/send_pending_escape_manual_task.dart
  test/app/core/managers/impl/background_task_manager_test.dart
  test/app/features/escape_manual/presentation/send_pending_escape_manual_task_test.dart
Due: ios, lib

Add background_tasks_runner.dart
  lib/app/app_module.dart
  lib/app/core/extension/platform_interfaces.dart
  lib/app/core/managers/background_task_manager.dart
  lib/app/core/managers/impl/background_task_manager.dart
  lib/bootstrap/impl/background_tasks_runner.dart
  lib/main.dart
  test/app/core/managers/impl/background_task_manager_test.dart
  test/bootstrap/impl/background_tasks_runner_test.dart
  test/main_test.dart
Due: lib

Avoid error for unknown task type
  lib/app/features/escape_manual/data/model/escape_manual_local.dart
  lib/app/features/escape_manual/data/model/escape_manual_mapper.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.g.dart
  lib/app/features/escape_manual/data/model/escape_manual_task.dart
Due: lib
