Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

codecov.yml:

---
comment:                  # this is a top-level key
  layout: "header, diff, flags, components"  # show component info in the PR comment
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false     # [true :: must have a base report to post]
  require_head: false     # [true :: must have a head report to post]

coverage:
  status:
    project:
      tests:
        paths: ["tests/"]
      android:
        paths: ["android/"]
      ios:
        paths: ["ios/"]
      lib:
        paths: ["lib/"]

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: android
      name: android
      paths:
        - android/**
    - component_id: ios
      name: ios
      paths:
        - ios/**
    - component_id: lib
      name: lib
      paths:
        - lib/**

Remove unnecessary log conditional
  lib/app/shared/logger/log.dart
Due: lib

Avoid comment_id=null in tweet navigation
  lib/app/features/feed/presentation/stores/tweet_controller.dart
  lib/app/features/feed/presentation/tweet/reply_tweet.dart
Due: lib

Revert "Update snackbar"
  lib/app/features/authentication/presentation/shared/snack_bar_handler.dart
Due: lib

Add dispose mobx extension
  lib/app/core/extension/mobx.dart
Due: lib

remove enableR8 property
  android/gradle.properties
Due: android

replace jcenter with mavenCentral
  android/build.gradle
Due: android

Remove debugPrintModular
  lib/app/features/mainboard/presentation/mainboard/mainboard_controller.dart
Due: lib

Replace deprecated showSnackBar
  lib/app/features/authentication/presentation/shared/snack_bar_handler.dart
Due: lib

Remove unnecessary firebase_options
  .github/workflows/code-quality.yml
  lib/main.dart
Due: lib

Remove delay to pop
  lib/app/features/users/presentation/user_profile_controller.dart
Due: lib

Use bottom sheet component in tweet options
  lib/app/features/feed/presentation/tweet/widgets/tweet_title.dart
Due: lib

Add progress dialog to openChat
  lib/app/features/users/presentation/user_profile_controller.dart
  test/app/features/users/presentation/user_profile_controller_test.dart
Due: lib

Use bottom sheet component in chat
  lib/app/features/chat/presentation/chat/chat_channel_page.dart
Due: lib

Use bottom sheet component in audio options
  lib/app/features/help_center/presentation/audios/audios_page.dart
Due: lib

Fix color of delete icon
  assets/images/svg/tweet_action/tweet_action_delete.svg
Due: none

Handle navigate back reaction
  lib/app/features/users/presentation/user_profile_page.dart
  lib/app/features/users/presentation/user_profile_state.dart
  lib/app/features/users/presentation/user_profile_state.freezed.dart
Due: lib

Use bottom sheet component in support center route
  lib/app/features/support_center/presentation/show/support_center_show_page.dart
Due: lib

Improve logging
  lib/app/shared/logger/log.dart
  lib/main.dart
Due: lib

Fix HtmlWidget webViewJs deprecation
  lib/app/features/feed/presentation/tweet/widgets/tweet_body.dart
  lib/app/features/notification/presentation/pages/notification_card_page.dart
  lib/app/features/support_center/presentation/show/support_center_show_page.dart
  lib/app/shared/widgets/no_webview_js_wiget_factory.dart
Due: lib

Disable JS in HtmlWidgets
  lib/app/features/chat/presentation/pages/channel/chat_channel_message_page.dart
  lib/app/features/main_menu/presentation/account/delete/account_delete_page.dart
  lib/app/features/quiz/presentation/quiz/widgets/quiz_message_widget.dart
Due: lib

Create database
  lib/app/app_module.dart
  lib/app/core/storage/db.dart
  pubspec.lock
  pubspec.yaml
Due: lib

Create escape_manual table
  lib/app/core/storage/db.dart
Due: lib

Update escape manual module test
  test/app/features/escape_manual/escape_manual_module_test.dart
Due: none

Add module testing helper
  test/utils/module_testing.dart
Due: none

Rename prop from 'userInputValue' to 'value'
  lib/app/features/escape_manual/data/model/escape_manual_mapper.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.g.dart
  lib/app/features/escape_manual/data/repository/escape_manual_repository.dart
  test/app/features/escape_manual/data/model/escape_manual_fixtures.dart
Due: lib

Update task on both datasources
  lib/app/core/extension/date_time.dart
  lib/app/features/escape_manual/data/datasource/escape_manual_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource.dart
  lib/app/features/escape_manual/data/repository/escape_manual_repository.dart
  test/app/core/extension/date_time_test.dart
  test/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource_test.dart
  test/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource_test.dart
  test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
Due: lib

Add 'request' method to ApiProvider
  lib/app/core/network/api_client.dart
  test/app/core/network/api_client_test.dart
Due: lib

Add EscapeManualTask contract models
  lib/app/features/escape_manual/data/datasource/escape_manual_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource.dart
  lib/app/features/escape_manual/data/datastore/escape_manual_persistent_store.dart
  lib/app/features/escape_manual/data/model/escape_manual_local.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.dart
  lib/app/features/escape_manual/data/model/escape_manual_task.dart
  lib/app/features/escape_manual/data/repository/escape_manual_repository.dart
  test/app/features/escape_manual/data/datastore/escape_manual_persistent_store_test.dart
Due: lib

Update signIn related tests
  lib/app/features/authentication/data/repositories/authentication_repository.dart
  lib/app/features/authentication/domain/usecases/authenticate_user.dart
  test/app/features/authentication/data/repositories/authentication_repository_test.dart
  test/app/features/authentication/domain/usecases/authenticate_user_test.dart
Due: lib

Update AppConfiguration tests
  lib/app/core/managers/app_configuration.dart
  test/app/core/managers/app_configuration_test.dart
Due: lib

Provide FirebaseRemoteConfig instance
  lib/app/app_module.dart
Due: lib

Update feature_toggles.md
  docs/feature_toggles.md
Due: none

Fix display of user reply of single button
  lib/app/features/quiz/presentation/quiz/quiz_controller.dart
Due: lib

Add method to put many objects to the storage
  lib/app/core/storage/collection_store.dart
  lib/app/core/storage/impl/hive_storage_mixin.dart
  lib/app/core/storage/key_value_storage.dart
  test/app/core/storage/impl/hive_persistent_storage_test.dart
Due: lib

Add SendPendingEscapeManualTasksUseCase
  lib/app/features/escape_manual/data/datasource/escape_manual_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource.dart
  lib/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource.dart
  lib/app/features/escape_manual/data/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/domain/repository/escape_manual_repository.dart
  lib/app/features/escape_manual/domain/send_pending_escape_manual_tasks.dart
  test/app/features/escape_manual/data/datasource/impl/escape_manual_local_datasource_test.dart
  test/app/features/escape_manual/data/datasource/impl/escape_manual_remote_datasource_test.dart
  test/app/features/escape_manual/data/repository/escape_manual_repository_test.dart
  test/app/features/escape_manual/domain/send_pending_escape_manual_tasks_test.dart
Due: lib

Update escape_manual_persistent_store_test.dart
  test/app/features/escape_manual/data/datastore/escape_manual_persistent_store_test.dart
Due: none

Update Podfile.lock
  ios/Podfile.lock
Due: ios

Add workmanager dependency
  ios/Podfile.lock
  pubspec.lock
  pubspec.yaml
Due: ios

Refactoring main.dart
  lib/main.dart
Due: lib
