Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

refactor: migrate to Flutter Modular v5
  lib/app/core/managers/background_task_manager.dart
  lib/app/core/managers/background_task_registry.dart
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  pubspec.yaml
Due: lib

refactor: update dependency injection method from inject to Modular.get
  lib/app/features/authentication/presentation/sign_in/sign_in_module.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
Due: lib

refactor: migrate button styles from MaterialState to WidgetState
  lib/app/shared/design_system/buttons/styles/filled_button.dart
  lib/app/shared/design_system/widgets/buttons/styles/filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_filled_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/rounded_outlined_button_style.dart
  lib/app/shared/design_system/widgets/buttons/styles/text_button_style.dart
Due: lib

refactor: add const keyword to widget constructors
  lib/app/core/managers/audio_record_services.dart
  lib/app/core/managers/location_services.dart
  lib/app/features/feed/presentation/pages/feed_category_filter.dart
  lib/app/features/feed/presentation/pages/feed_tags_filter.dart
  lib/app/features/help_center/presentation/help_center_page.dart
  lib/app/features/help_center/presentation/pages/guardian_error_page.dart
  lib/app/features/main_menu/presentation/penhas_drawer_page.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_controller.dart
  lib/app/features/support_center/presentation/pages/support_center_gps_error.dart
Due: lib

chore: update Flutter SDK and intl package version
  .fvm/fvm_config.json
  pubspec.yaml
Due: none

refactor: migrate WillPopScope to PopScope with updated navigation handling
  lib/app/features/authentication/presentation/sign_in_stealth/sign_in_stealth_page.dart
  lib/app/features/escape_manual/presentation/edit/edit_trusted_contacts_page.dart
  lib/app/features/help_center/presentation/pages/audio/audio_record_page.dart
Due: lib

refactor: migrate textScaleFactor to TextScaler in golden test widget app
  test/utils/golden_test_widget_app.dart
Due: none

refactor: improve early return conditions with explicit code blocks
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  lib/app/features/feed/domain/usecases/feed_use_cases.dart
Due: lib

test: update location services permission dialog golden images
  test/app/core/managers/goldens/ci/location_services_test_requestPermission_dialog_denied.png
  test/app/core/managers/goldens/ci/location_services_test_requestPermission_dialog_limited.png
  test/app/core/managers/goldens/ci/location_services_test_requestPermission_dialog_permanentlyDenied.png
Due: none

refactor: remove unnecessary null checks and default cases
  lib/app/core/pages/tutorial_page_view_widget.dart
  lib/app/features/authentication/domain/usecases/human_race.dart
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_three/reset_password_three_controller.dart
  lib/app/features/authentication/presentation/shared/single_text_input.dart
  lib/app/features/chat/domain/entities/chat_tab_item.dart
  lib/app/features/chat/presentation/chat_main_page.dart
Due: lib

refactor: update platform view method call handler in tests
  test/app/features/support_center/presentation/pages/widget/support_center_detail_map_test.dart
  test/app/features/support_center/presentation/show/support_center_show_page_test.dart
  test/app/features/support_center/presentation/support_center_page_test.dart
  test/utils/fake_google_map_platform_views_controller.dart
Due: none

chore: upgrade dev dependencies and Asuka package version
  pubspec.lock
  pubspec.yaml
Due: none

refactor: replace deprecated `whereNotNull()` with `nonNulls`
  lib/app/features/appstate/data/model/app_state_model.dart
  lib/app/features/chat/data/models/chat_channel_available_model.dart
  lib/app/features/feed/data/models/tweet_filter_session_model.dart
  lib/app/features/feed/data/models/tweet_session_model.dart
  lib/app/features/feed/domain/usecases/tweet_filter_preference.dart
  lib/app/features/filters/data/models/filter_skills_model.dart
  lib/app/features/help_center/data/models/guardian_session_model.dart
  lib/app/features/support_center/data/models/support_center_metadata_model.dart
  lib/app/features/users/data/models/user_search_session_model.dart
  pubspec.yaml
Due: lib

refactor: migrate test imports to flutter_test package
  test/app/features/escape_manual/presentation/send_pending_escape_manual_task_test.dart
  test/app/features/quiz/domain/start_quiz_test.dart
  test/bootstrap/impl/background_tasks_runner_test.dart
  test/bootstrap/impl/main_app_runner_test.dart
  test/main_test.dart
Due: none

test: update audio record services permission dialog golden images
  test/app/core/managers/goldens/ci/audio_record_services_requestPermission_dialog_denied.png
  test/app/core/managers/goldens/ci/audio_record_services_requestPermission_dialog_limited.png
  test/app/core/managers/goldens/ci/audio_record_services_requestPermission_dialog_permanentlyDenied.png
Due: none

refactor: replace withOpacity() with withAlpha() for color transparency
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_two/reset_password_two_controller.dart
  lib/app/features/feed/presentation/detail_tweet/detail_tweet_page.dart
  lib/app/features/help_center/presentation/pages/audio/sound_record_widget.dart
  lib/app/features/help_center/presentation/pages/help_center/help_center_card_guardian.dart
  lib/app/features/help_center/presentation/pages/help_center/help_center_card_record.dart
  lib/app/shared/design_system/widgets/badges/user_badge_widget.dart
  lib/app/shared/design_system/widgets/tags/tags.dart
Due: lib

test: update authentication shared golden images
  test/app/features/authentication/presentation/shared/goldens/ci/authentication_shared_login_button.png
  test/app/features/authentication/presentation/shared/goldens/ci/authentication_shared_password_input_field.png
  test/app/features/authentication/presentation/shared/goldens/ci/authentication_shared_single_text_input.png
  test/app/features/authentication/presentation/shared/goldens/ci/purple_box_decoration_style.png
  test/app/features/authentication/presentation/shared/goldens/ci/white_box_decoration_style.png
Due: none

refactor: upgrade gradle
  android/app/build.gradle
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
  pubspec.lock
  pubspec.yaml
Due: android

fix: issues from upgraded versions
  android/app/build.gradle
  android/app/src/debug/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/profile/AndroidManifest.xml
  lib/app/core/managers/audio_record_services.dart
  lib/app/core/managers/location_services.dart
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_three/reset_password_three_page.dart
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_two/reset_password_two_page.dart
  lib/app/features/authentication/presentation/reset_password/reset_password_page.dart
  lib/app/features/authentication/presentation/sign_in/privacy_policy/privacy_policy_page.dart
  lib/app/features/authentication/presentation/sign_in/terms_of_use/terms_of_use_page.dart
  lib/app/features/escape_manual/presentation/edit/edit_trusted_contacts_page.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  lib/app/features/feed/presentation/compose_tweet/compose_tweet_page.dart
  lib/app/features/feed/presentation/feed_page.dart
  lib/app/features/feed/presentation/reply_tweet/reply_tweet_page.dart
  lib/app/features/help_center/presentation/help_center_page.dart
  lib/app/features/help_center/presentation/pages/guardian_tile_action_card.dart
  lib/app/features/help_center/presentation/pages/guardian_tile_empty_card.dart
  lib/app/features/main_menu/presentation/account/pages/card_profile_header_edit_page.dart
  lib/app/features/main_menu/presentation/pages/about_penhas_page.dart
  lib/app/features/main_menu/presentation/penhas_drawer_page.dart
  lib/app/features/mainboard/presentation/mainboard/pages/mainboard_bottom_navigation_page.dart
  lib/app/features/mainboard/presentation/mainboard/pages/mainboard_button_page.dart
  lib/app/shared/design_system/widgets/badges/user_badge_widget.dart
  lib/app/shared/design_system/widgets/badges/user_close_badge_widget.dart
  pubspec.lock
  pubspec.yaml
  test/app/features/authentication/presentation/mocks/webview_mocks.dart
  test/app/features/authentication/presentation/sign_in/privacy_policy/privacy_policy_page_test.dart
  test/app/features/authentication/presentation/sign_in/terms_of_use/terms_of_use_page_test.dart
  test/bootstrap/impl/background_tasks_runner_test.dart
  test/bootstrap/impl/main_app_runner_test.dart
Due: android, lib

refactor: remover workmanager
  android/.gitignore
  lib/app/core/managers/background_task_manager.dart
  lib/app/core/managers/impl/background_task_manager.dart
  pubspec.lock
  pubspec.yaml
Due: android, lib

fix build ios
  ios/Flutter/AppFrameworkInfo.plist
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  ios/Runner/Info.plist
  pubspec.lock
  pubspec.yaml
Due: ios

refactor: substituir htmlWidget por flutter html
  lib/app/features/chat/presentation/pages/channel/chat_channel_message_page.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_body.dart
  lib/app/features/main_menu/presentation/account/delete/account_delete_page.dart
  lib/app/features/notification/presentation/pages/notification_card_page.dart
  lib/app/features/quiz/presentation/quiz/messages/text.dart
  lib/app/features/support_center/presentation/show/support_center_show_page.dart
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_sections.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_task_check.png
  test/app/features/main_menu/presentation/account/delete/goldens/ci/account_delete_page_success.png
  test/app/features/notification/presentation/goldens/ci/notification_page_loaded.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_button_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_button_replyed.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_displayTextResponse_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_displayText_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_error_state.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_received_many_messages.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_scroll_to_end.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_showStealthTutorial_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_showStealthTutorial_replyed.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_yesno_received.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_yesno_replyed.png
  test/app/features/support_center/presentation/show/goldens/ci/support_center_show_page_loaded.png
Due: lib

refactors
  lib/app/features/feed/presentation/pages/feed_category_filter.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_avatar.dart
  lib/app/features/main_menu/data/model/account_preference_model.dart
Due: lib

fix testes
  test/app/features/chat/presentation/talk/chat_main_talks_page_test.dart
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
  test/app/features/filters/presentation/pages/filter_loaded_state_page_test.dart
  test/app/features/filters/presentation/pages/goldens/ci/filter_loaded_state_page.png
  test/app/features/main_menu/presentation/account/delete/account_delete_page_test.dart
  test/app/features/main_menu/presentation/account/delete/goldens/ci/account_delete_page_error.png
  test/app/features/main_menu/presentation/account/my_profile/skill/pages/goldens/ci/profile_skill_loaded_widget.png
  test/app/features/main_menu/presentation/account/my_profile/skill/pages/profile_skill_loaded_widget_test.dart
  test/app/features/main_menu/presentation/account/preference/account_preference_page_test.dart
  test/app/features/main_menu/presentation/account/preference/goldens/ci/account_preference_page.png
  test/app/features/quiz/presentation/quiz/goldens/ci/quiz_scroll_to_end.png
  test/app/features/quiz/presentation/quiz/quiz_page_test.dart
  test/app/features/support_center/presentation/support_center_page_test.dart
Due: none

fix lint
  .github/workflows/code-quality.yml
Due: none

refactor(tests): replace 'package:test/test.dart' with 'package:flutter_test/flutter_test.dart' in test files
  test/app/features/escape_manual/presentation/send_pending_escape_manual_task_test.dart
  test/app/features/quiz/domain/start_quiz_test.dart
  test/bootstrap/impl/background_tasks_runner_test.dart
  test/bootstrap/impl/main_app_runner_test.dart
  test/main_test.dart
Due: none

feat(mainboard): handle AppLifecycleState.hidden in mainboard controller
  lib/app/features/mainboard/presentation/mainboard/mainboard_controller.dart
Due: lib

refactor(app_widget): integrate Flutter Modular for routing and observer management
  lib/app/app_widget.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_controller.dart
Due: lib

refactor(feed): simplify FeedModule bindings and enhance MainboardModule with feed dependencies
  lib/app/features/feed/presentation/feed_module.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
Due: lib

feat(mainboard): add escape manual feature bindings and dependencies to MainboardModule
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
Due: lib

refactor(user_profile): update dependency bindings for user profile module to use explicit type retrieval
  lib/app/features/users/presentation/user_profile_module.dart
Due: lib

feat(mainboard): enhance MainboardModule with new chat feature bindings and controllers
  lib/app/features/chat/presentation/chat_main_module.dart
  lib/app/features/chat/presentation/chat_main_page.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
Due: lib

feat(mainboard): add HelpCenterController and SecurityModeActionFeature bindings to MainboardModule
  lib/app/features/help_center/presentation/help_center_module.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
Due: lib

feat(mainboard): integrate support center bindings and controllers into MainboardModule
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
  lib/app/features/support_center/presentation/support_center_module.dart
Due: lib

Path conditions:
  android: any of: android/**
  ios: any of: ios/**
  lib: any of: lib/**
