Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

Update quiz tests
  lib/app/features/quiz/data/repositories/quiz_repository.dart
  lib/app/features/quiz/domain/entities/quiz.dart
  lib/app/features/quiz/domain/entities/quiz_message.dart
  lib/app/features/quiz/domain/entities/quiz_message.freezed.dart
  lib/app/features/quiz/domain/quiz_mapper.dart
  test/app/features/quiz/data/quiz_fixtures.dart
  test/app/features/quiz/data/repositories/quiz_repository_test.dart
  test/assets/json/quiz/all-messages.json
Due: lib

Fix quiz repository tests
  test/app/features/quiz/data/repositories/quiz_repository_test.dart
Due: none

Keep bottom navigation pages states
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  lib/app/features/feed/presentation/feed_page.dart
Due: lib

Fix section text overflow on MF
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
Due: lib

Centralize assistant button text
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
Due: lib

Add AppNavigation navigateTo
  lib/app/shared/navigation/app_navigator.dart
Due: lib

Add tutorials routes
  lib/app/features/quiz/quiz_module.dart
  test/app/features/quiz/quiz_module_test.dart
Due: lib

Add quiz bridge
  lib/app/features/quiz/presentation/quiz_bridge/quiz_bridge.dart
  lib/app/features/quiz/quiz_module.dart
  test/app/features/quiz/domain/quiz_remote_config_test.dart
  test/app/features/quiz/presentation/quiz_bridge/quiz_bridge_test.dart
  test/app/features/quiz/quiz_module_test.dart
Due: lib

Extract key names and default values from remote config
  lib/app/core/remoteconfig/i_remote_config.dart
  lib/app/core/remoteconfig/remote_config.dart
  lib/app/core/remoteconfig/remote_config_keys.dart
  lib/app/features/authentication/domain/usecases/login_offline_toggle.dart
Due: lib

Add QuizRemoteConfig
  lib/app/core/remoteconfig/i_remote_config.dart
  lib/app/core/remoteconfig/remote_config.dart
  lib/app/core/remoteconfig/remote_config_keys.dart
  lib/app/features/quiz/domain/quiz_remote_config.dart
  lib/app/features/quiz/quiz_module.dart
  test/app/core/remoteconfig/remote_config_test.dart
  test/app/features/quiz/presentation/quiz/quiz_page_test.dart
Due: lib

Add origin query-param for quiz destination
  lib/app/features/chat/presentation/talk/chat_main_talks_controller.dart
  lib/app/features/escape_manual/presentation/escape_manual_controller.dart
  lib/app/features/quiz/presentation/quiz_start/quiz_start_controller.dart
  lib/app/features/splash/splash_controller.dart
  test/app/features/escape_manual/presentation/escape_manual_controller_test.dart
  test/app/features/quiz/presentation/quiz_start/quiz_start_page_test.dart
  test/app/features/splash/splash_page_test.dart
Due: lib

Update remote config doc
  docs/feature_toggles.md
Due: none

Update ChatMainTalksPage tests
  test/app/features/chat/presentation/talk/chat_main_talks_page_test.dart
Due: none

Bump mocktail and mocktail_image_network
  pubspec.lock
  pubspec.yaml
Due: none

Improve conditional readability
  lib/app/features/chat/presentation/talk/chat_main_talks_controller.dart
Due: lib

Add tests for ChatMainTalksPage
  lib/app/features/chat/presentation/chat_main_module.dart
  lib/app/features/chat/presentation/talk/chat_main_talks_controller.dart
  lib/app/features/chat/presentation/talk/chat_main_talks_controller.g.dart
  lib/app/features/chat/presentation/talk/chat_main_talks_page.dart
  test/app/features/chat/presentation/talk/chat_main_talks_page_test.dart
  test/app/features/chat/presentation/talk/goldens/ci/chat_main_talks_page_error_state.png
  test/app/features/chat/presentation/talk/goldens/ci/chat_main_talks_page_initial_state.png
  test/utils/module_testing.dart
Due: lib

Add new quiz testing
  test/app/features/quiz/domain/send_answer_test.dart
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_button_received.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_button_replyed.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_displayTextResponse_received.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_displayText_received.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_empty_state.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_error_state.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_error_state_retry.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_horizontalButtons_received.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_horizontalButtons_replyed.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_multipleChoices_received.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_multipleChoices_replyed.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_received_many_messages.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_scroll_to_end.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_showHelpTutorial_received.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_showHelpTutorial_replyed.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_showStealthTutorial_received.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_showStealthTutorial_replyed.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_singleChoice_received.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_singleChoice_replyed.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_yesno_received.png
  test/app/features/quiz/presentation/new_quiz/goldens/ci/quiz_yesno_replyed.png
  test/app/features/quiz/presentation/new_quiz/quiz_page_test.dart
  test/app/features/quiz/presentation/quiz_test_helper.dart
  test/app/features/quiz/quiz_module_test.dart
  test/utils/widget_tester_ext.dart
Due: none

Add animated quiz page
  lib/app/core/extension/animated_list.dart
  lib/app/core/extension/list.dart
  lib/app/core/extension/scroll_controller.dart
  lib/app/features/quiz/domain/entities/quiz_message.dart
  lib/app/features/quiz/presentation/new_quiz/messages/_message.dart
  lib/app/features/quiz/presentation/new_quiz/messages/choices_box.dart
  lib/app/features/quiz/presentation/new_quiz/messages/horizontal_buttons.dart
  lib/app/features/quiz/presentation/new_quiz/messages/multiple_choices.dart
  lib/app/features/quiz/presentation/new_quiz/messages/single_choice.dart
  lib/app/features/quiz/presentation/new_quiz/messages/text.dart
  lib/app/features/quiz/presentation/new_quiz/quiz_controller.dart
  lib/app/features/quiz/presentation/new_quiz/quiz_controller.g.dart
  lib/app/features/quiz/presentation/new_quiz/quiz_page.dart
  lib/app/features/quiz/presentation/quiz_bridge/quiz_bridge.dart
  lib/app/features/quiz/quiz_module.dart
  lib/app/shared/design_system/animation.dart
  test/app/features/quiz/presentation/quiz_bridge/quiz_bridge_test.dart
  test/app/features/quiz/quiz_module_test.dart
Due: lib

Update changelog
  CHANGELOG.md
Due: none

Organize QuizController methods
  lib/app/features/quiz/presentation/new_quiz/quiz_controller.dart
Due: lib

Organize QuizContentState methods
  lib/app/features/quiz/presentation/new_quiz/quiz_page.dart
Due: lib

Remove user data after logout
  lib/app/core/managers/app_configuration.dart
Due: lib

Set analytics properties
  lib/app/app_module.dart
  lib/app/core/analytics/analytics_wrapper.dart
  lib/app/features/appstate/data/model/app_state_model.dart
  lib/app/features/appstate/domain/entities/app_state_entity.dart
  lib/app/features/appstate/domain/usecases/app_state_usecase.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
  test/app/core/analytics/analytics_wrapper_test.dart
  test/app/features/appstate/data/models/app_state_model_test.dart
  test/app/features/appstate/domain/usecases/app_state_usecase_test.dart
  test/assets/json/profile/about_with_quiz_session.json
Due: lib

Release version 3.6.0
  CHANGELOG.md
  pubspec.yaml
Due: none

Update publish FAB
  lib/app/features/feed/presentation/feed_page.dart
Due: lib

Bump XCode version
  .github/workflows/distribute-flutter-ios.yml
Due: none

Bump subosito/flutter-action
  .github/workflows/distribute-flutter-ios.yml
Due: none

Change macos image to large
  .github/workflows/distribute-flutter-ios.yml
Due: none

Change macos image to 12
  .github/workflows/distribute-flutter-ios.yml
Due: none

Release version 3.6.1
  CHANGELOG.md
  pubspec.yaml
Due: none

Bump Android target SDK version
  android/app/build.gradle
Due: android

Bump mocktail_image_network
  pubspec.lock
  pubspec.yaml
Due: none

Replace showSnackBar/hideCurrentSnackBar deprecated
  lib/app/features/authentication/presentation/shared/snack_bar_handler.dart
  lib/app/features/support_center/presentation/support_center_page.dart
Due: lib

Remove assertion from `showSnackBar`
  lib/app/features/authentication/presentation/shared/snack_bar_handler.dart
Due: lib

Update test utils to use Asuka builder
  test/utils/golden_test_widget_app.dart
  test/utils/golden_tests.dart
  test/utils/widget_test_steps.dart
Due: none

Update audio_record_services tests
  test/app/core/managers/audio_record_services_test.dart
  test/app/core/managers/goldens/ci/audio_record_services_requestPermission_dialog_denied.png
  test/app/core/managers/goldens/ci/audio_record_services_requestPermission_dialog_limited.png
  test/app/core/managers/goldens/ci/audio_record_services_requestPermission_dialog_permanentlyDenied.png
Due: none

Add theming for buttons
  lib/app/shared/design_system/buttons/styles.dart
  lib/app/shared/design_system/buttons/styles/filled_button.dart
  lib/app/shared/design_system/buttons/styles/outlined_button.dart
  lib/app/shared/design_system/buttons/styles/text_button.dart
  lib/app/shared/design_system/colors.dart
  lib/app/shared/design_system/theme.dart
  test/utils/widget_test_steps.dart
Due: lib

Replace deprecated buttons on 'audio_record_services.dart' file
  lib/app/core/managers/audio_record_services.dart
Due: lib

Path conditions:
  android: any of: android/**
  ios: any of: ios/**
  lib: any of: lib/**
