Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

codecov.yml:

---
comment:                  # this is a top-level key
  layout: "header, diff, flags, components"  # show component info in the PR comment
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false     # [true :: must have a base report to post]
  require_head: false     # [true :: must have a head report to post]

coverage:
  status:
    project:
      tests:
        paths: ["tests/"]
      android:
        paths: ["android/"]
      ios:
        paths: ["ios/"]
      lib:
        paths: ["lib/"]

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: android
      name: android
      paths:
        - android/**
    - component_id: ios
      name: ios
      paths:
        - ios/**
    - component_id: lib
      name: lib
      paths:
        - lib/**

feat(a11y): add tooltips/Semantics labels to icon-only controls
  lib/app/features/feed/presentation/tweet/widgets/tweet_bottom.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_title.dart
  lib/app/features/help_center/presentation/pages/audio/audio_play_widget.dart
  lib/app/features/help_center/presentation/pages/guardian_tile_action_card.dart
  lib/app/features/main_menu/presentation/account/pages/card_profile_header_edit_page.dart
  lib/app/features/support_center/presentation/support_center_page.dart
Due: lib

build(ios): lock background_downloader pod in Podfile.lock
  ios/Podfile.lock
Due: ios

fix(android): make background_downloader build (AGP/Gradle/compileSdk + manifest)
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
Due: android

chore: regenerate codegen with locked toolchain
  lib/app/core/states/audio_permission_state.freezed.dart
  lib/app/core/states/location_permission_state.freezed.dart
  lib/app/features/chat/domain/states/chat_channel_state.freezed.dart
  lib/app/features/chat/domain/states/chat_channel_usecase_event.freezed.dart
  lib/app/features/chat/domain/states/chat_main_security_state.freezed.dart
  lib/app/features/chat/domain/states/chat_main_talks_state.freezed.dart
  lib/app/features/escape_manual/data/model/escape_manual_local.g.dart
  lib/app/features/escape_manual/data/model/escape_manual_remote.g.dart
  lib/app/features/escape_manual/presentation/edit/edit_trusted_contacts_state.freezed.dart
  lib/app/features/escape_manual/presentation/escape_manual_state.freezed.dart
  lib/app/features/feed/domain/states/feed_router_type.freezed.dart
  lib/app/features/feed/domain/states/feed_routing_state.freezed.dart
  lib/app/features/feed/domain/states/feed_security_state.freezed.dart
  lib/app/features/feed/domain/states/feed_state.freezed.dart
  lib/app/features/filters/states/filter_action_observer.freezed.dart
  lib/app/features/filters/states/filter_state.freezed.dart
  lib/app/features/help_center/domain/states/audio_playing.freezed.dart
  lib/app/features/help_center/domain/states/audio_tile_action.freezed.dart
  lib/app/features/help_center/domain/states/audios_state.freezed.dart
  lib/app/features/help_center/domain/states/guardian_alert_state.freezed.dart
  lib/app/features/help_center/domain/states/guardian_state.freezed.dart
  lib/app/features/help_center/domain/states/help_center_state.freezed.dart
  lib/app/features/help_center/domain/states/new_guardian_state.freezed.dart
  lib/app/features/help_center/presentation/audios/audios_controller.g.dart
  lib/app/features/main_menu/domain/states/account_preference_state.freezed.dart
  lib/app/features/main_menu/domain/states/profile_delete_state.freezed.dart
  lib/app/features/main_menu/domain/states/profile_edit_state.freezed.dart
  lib/app/features/mainboard/domain/states/mainboard_security_state.freezed.dart
  lib/app/features/mainboard/domain/states/mainboard_state.freezed.dart
  lib/app/features/notification/domain/states/notification_state.freezed.dart
  lib/app/features/quiz/domain/entities/quiz_message.freezed.dart
  lib/app/features/quiz/presentation/quiz_start/quiz_start_state.freezed.dart
  lib/app/features/support_center/domain/states/support_center_add_state.freezed.dart
  lib/app/features/support_center/domain/states/support_center_show_state.freezed.dart
  lib/app/features/support_center/domain/states/support_center_state.freezed.dart
  lib/app/features/users/presentation/user_profile_state.freezed.dart
Due: lib

test: remove unused audio_playing import in audios_controller_test
  test/app/features/help_center/presentation/audios/audios_controller_test.dart
Due: none

style: dart format audio managers and play widget
  lib/app/core/managers/audio_record_services.dart
  lib/app/core/managers/audio_sync_manager.dart
  lib/app/features/help_center/presentation/pages/audio/audio_play_widget.dart
Due: lib

feat(ci): bump semantic version name per distribution + port build auto-increment to Android
  .github/workflows/distribute-flutter-android.yml
  .github/workflows/distribute-flutter-ios.yml
  .github/workflows/manual-distribution.yml
  android/fastlane/Fastfile
  ios/fastlane/Fastfile
Due: android, ios

fix(audio): detect codec from file header on playback
  lib/app/core/managers/audio_play_services.dart
  test/app/core/managers/audio_play_services_test.dart
Due: lib

fix(android): allow cleartext for dev audio upload via network security config
  android/app/src/dev/res/xml/network_security_config.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/xml/network_security_config.xml
Due: android

fix(audio): restore recording date in the audios list
  lib/app/features/help_center/presentation/pages/audio/audio_play_widget.dart
  test/app/features/help_center/presentation/pages/audio/audio_play_widget_test.dart
Due: lib

style: dart format audio play widget and codec tests
  lib/app/features/help_center/presentation/pages/audio/audio_play_widget.dart
  test/app/core/managers/audio_play_services_test.dart
Due: lib

ci: move GITHUB_TOKEN write permissions from workflow to job level
  .github/workflows/distribute-flutter-android.yml
  .github/workflows/manual-distribution.yml
  .github/workflows/tester-email-distribute.yml
Due: none

test(audio): initialize pt_BR locale in audios page test
  test/app/features/help_center/presentation/audios/audios_page_test.dart
Due: none

ci: pass computed version to distribution instead of committing to main
  .github/workflows/manual-distribution.yml
Due: none

ci: migrate Firebase App Distribution auth from CLI token to service account
  .github/workflows/distribute-flutter-android.yml
  .github/workflows/distribute-flutter-ios.yml
  .github/workflows/manual-distribution.yml
  .github/workflows/tester-email-distribute.yml
  android/fastlane/Fastfile
  ios/fastlane/Fastfile
Due: android, ios

ci: pass Firebase service account secret via env instead of run expansion
  .github/workflows/distribute-flutter-android.yml
  .github/workflows/distribute-flutter-ios.yml
Due: none

ci(ios): bump runner to macos-26 and select Xcode via setup-xcode
  .github/workflows/distribute-flutter-ios.yml
Due: none

ci(ios): pin setup-xcode to full commit SHA
  .github/workflows/distribute-flutter-ios.yml
Due: none

ci(ios): drop Crashlytics upload-symbols build phase
  ios/Runner.xcodeproj/project.pbxproj
Due: ios

chore(android): target API 36 e bump para 3.7.4+71
  android/app/build.gradle
  android/build.gradle
  android/gradle.properties
  android/settings.gradle
  pubspec.yaml
Due: android

ci(android): publicar release em produção em vez de alpha
  android/fastlane/Fastfile
Due: android

ci(ios): distribuir builds de teste pelo TestFlight
  .github/workflows/distribute-flutter-ios.yml
  .github/workflows/manual-distribution.yml
  .github/workflows/tester-email-distribute.yml
  .github/workflows/testflight-distribute.yml
  ios/fastlane/Fastfile
  ios/fastlane/README.md
Due: ios

fix(android): load Google Maps key from secrets
  android/app/build.gradle
Due: android

ci(android): generate unique Play version codes
  .github/workflows/distribute-flutter-android.yml
  .github/workflows/manual-distribution.yml
  android/fastlane/Fastfile
Due: android

fix(ci): calculate Android build number in shell
  .github/workflows/manual-distribution.yml
Due: none

fix(ci): pass Android build number as workflow string
  .github/workflows/distribute-flutter-android.yml
Due: none

ci: simplify distribution into a single staging/production workflow
  .github/workflows/check-generated-files.yml
  .github/workflows/code-quality.yml
  .github/workflows/distribute-flutter-android.yml
  .github/workflows/distribute-flutter-ios.yml
  .github/workflows/distribute.yml
  .github/workflows/manual-distribution.yml
  .github/workflows/tester-email-distribute.yml
  .github/workflows/testflight-distribute.yml
  Gemfile
  Gemfile.lock
  android/Gemfile
  android/Gemfile.lock
  android/fastlane/Fastfile
  android/fastlane/README.md
  android/gradle.properties
  docs/processo-de-release.md
  docs/testflight-testes.md
  fastlane/Fastfile
  fastlane/Pluginfile
  ios/Gemfile
  ios/fastlane/Appfile
  ios/fastlane/Deliverfile
  ios/fastlane/Fastfile
  ios/fastlane/README.md
Due: android, ios

ci: pin actions to commit SHAs and verify actionlint download
  .github/workflows/code-quality.yml
  .github/workflows/distribute.yml
Due: none

ci: declare token permissions per job
  .github/workflows/code-quality.yml
  .github/workflows/distribute.yml
Due: none

fix(ci): add cocoapods to the fastlane bundle
  Gemfile
  Gemfile.lock
Due: none

chore(ios): declare exempt encryption for export compliance
  ios/Runner/Info.plist
Due: ios
