Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

codecov.yml:

---
comment:                  # this is a top-level key
  layout: "header, diff, flags, components"  # show component info in the PR comment
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false     # [true :: must have a base report to post]
  require_head: false     # [true :: must have a head report to post]

coverage:
  status:
    project:
      tests:
        paths: ["tests/"]
      android:
        paths: ["android/"]
      ios:
        paths: ["ios/"]
      lib:
        paths: ["lib/"]

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: android
      name: android
      paths:
        - android/**
    - component_id: ios
      name: ios
      paths:
        - ios/**
    - component_id: lib
      name: lib
      paths:
        - lib/**

fix: correct typo in time formatting method name
  lib/app/features/feed/presentation/tweet/widgets/tweet_title.dart
Due: lib

refactor: replace FlatButton with PenhasButton in user profile dialogs
  lib/app/features/users/presentation/user_profile_dialogs.dart
Due: lib

refactor: remove null assertion operators in ChatChannelEntity props
  lib/app/features/chat/domain/entities/chat_channel_entity.dart
Due: lib

test(location_services): update Position constructor with additional accuracy parameters
  test/app/core/managers/location_services_test.dart
Due: none

fix: handle potential null Android version release
  lib/app/core/network/api_server_configure.dart
Due: lib

fix(update) arrumas issues versao 3.7.0
  ios/Podfile.lock
  lib/app/core/managers/audio_record_services.dart
  lib/app/core/managers/location_services.dart
  lib/app/core/network/api_server_configure.dart
  lib/app/features/escape_manual/presentation/edit/edit_trusted_contacts_dialogs.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  lib/app/features/feed/presentation/compose_tweet/compose_tweet_page.dart
  lib/app/features/feed/presentation/feed_page.dart
  lib/app/features/feed/presentation/reply_tweet/reply_tweet_page.dart
  lib/app/features/mainboard/presentation/mainboard/pages/mainboard_bottom_navigation_page.dart
  lib/app/features/mainboard/presentation/mainboard/pages/mainboard_button_page.dart
  lib/app/features/mainboard/presentation/mainboard/pages/mainboard_notification_page.dart
  lib/app/features/quiz/presentation/quiz/messages/choices_box.dart
  lib/app/features/quiz/presentation/quiz/messages/horizontal_buttons.dart
  lib/app/features/quiz/presentation/quiz/messages/text.dart
  lib/app/features/quiz/presentation/quiz/quiz_page.dart
  lib/app/shared/design_system/buttons/styles/outlined_button.dart
  lib/app/shared/design_system/buttons/styles/text_button.dart
  pubspec.lock
  test/app/core/managers/location_services_test.dart
  test/app/features/authentication/presentation/mocks/app_modules_mock.dart
  test/app/features/chat/domain/usecases/chat_channel_usecase_test.dart
  test/app/features/chat/domain/usecases/get_chat_channel_token_usecase_test.dart
  test/app/features/feed/presentation/compose_tweet/compose_tweet_page_test.dart
  test/app/features/feed/presentation/routing_profile_chat/feed_routing_profile_chat_controller_test.dart
  test/app/features/main_menu/domain/usecases/user_profile_test.dart
  test/main_test.dart
Due: ios, lib

fix versao collection
  pubspec.yaml
Due: none

skip test para resolucao futura
  test/app/features/quiz/presentation/quiz/quiz_page_test.dart
Due: none

add comparator test
  pubspec.yaml
  test/app/features/quiz/presentation/quiz/quiz_page_test.dart
  test/utils/local_file_comparator_trashhold.dart
  test/utils/test_utils.dart
Due: none

change version
  .fvm/fvm_config.json
Due: none

fix arquivos
  .fvm/fvm_config.json
  android/build.gradle
  lib/app/core/managers/app_configuration.dart
  lib/app/core/managers/audio_record_services.dart
  lib/app/core/managers/location_services.dart
  lib/app/features/feed/presentation/pages/feed_category_filter.dart
  lib/app/features/feed/presentation/pages/feed_tags_filter.dart
  lib/app/features/help_center/presentation/help_center_page.dart
  lib/app/features/help_center/presentation/pages/guardian_error_page.dart
  lib/app/features/main_menu/presentation/penhas_drawer_page.dart
  lib/app/features/support_center/presentation/pages/support_center_gps_error.dart
  pubspec.lock
  pubspec.yaml
  test/app/features/support_center/presentation/pages/widget/support_center_detail_map_test.dart
  test/app/features/support_center/presentation/show/support_center_show_page_test.dart
  test/app/features/support_center/presentation/support_center_page_test.dart
  test/utils/fake_google_map_platform_views_controller.dart
Due: android, lib

fix app configuration
  lib/app/core/managers/app_configuration.dart
Due: lib

chore: update code-workspace dictionary with new terms
  penhas.code-workspace
Due: none

refactor: remove null-safe operator from Modular dependency injection
  lib/app/features/authentication/presentation/sign_in/sign_in_module.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/filters/presentation/filter_module.dart
  lib/app/features/main_menu/presentation/account/my_profile/skill/profile_skill_module.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
  lib/app/features/quiz/quiz_module.dart
  lib/app/features/support_center/presentation/support_center_module.dart
  lib/app/features/users/presentation/user_profile_module.dart
Due: lib

refactor: remove null-safe operator from DeletedAccountController
  lib/app/app_module.dart
Due: lib

feat(testing): add buildTestableWidget utility function
  test/utils/test_utils.dart
Due: none

refactor: update dependency injection method from inject to Modular.get
  lib/app/features/authentication/presentation/sign_in/sign_in_module.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
Due: lib

refactor: remove Modular extension from AppWidget
  lib/app/app_widget.dart
Due: lib

refactor: migrate to Flutter Modular v5
  lib/app/core/managers/background_task_manager.dart
  lib/app/core/managers/background_task_registry.dart
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/features/escape_manual/presentation/escape_manual_page.dart
  pubspec.yaml
Due: lib

refactor: remove Modular test utilities and update test imports
  lib/app/features/escape_manual/escape_manual_module.dart
  test/app/app_module_test.dart
  test/app/core/managers/impl/background_task_manager_test.dart
  test/app/features/authentication/presentation/reset_password/pages/reset_password_two/reset_password_two_page_test.dart
  test/app/features/authentication/presentation/sign_in/sign_in_page_test.dart
  test/app/features/authentication/presentation/sign_in_anonymous/sign_in_anonymous_page_test.dart
  test/app/features/chat/presentation/talk/chat_main_talks_page_test.dart
  test/app/features/escape_manual/escape_manual_module_test.dart
  test/app/features/escape_manual/presentation/edit/edit_trusted_contacts_page_test.dart
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
  test/app/features/feed/presentation/compose_tweet/compose_tweet_page_test.dart
  test/app/features/filters/presentation/pages/filter_loaded_state_page_test.dart
  test/app/features/help_center/presentation/help_center_controller_test.dart
  test/app/features/mainboard/presentation/mainboard/pages/mainboard_bottom_navigation_page_test.dart
  test/app/features/mainboard/presentation/mainboard/pages/mainboard_button_page_test.dart
  test/app/features/quiz/presentation/quiz/quiz_page_test.dart
  test/app/features/quiz/presentation/quiz_start/quiz_start_page_test.dart
  test/app/features/quiz/presentation/quiz_test_helper.dart
  test/app/features/quiz/quiz_module_test.dart
  test/utils/aditional_bind_module.dart
  test/utils/module_testing.dart
  test/utils/widget_tester_ext.dart
Due: lib

chore: update pubspec.lock with Modular package dependencies
  pubspec.lock
Due: none

chore: update workmanager package and Dart SDK version
  pubspec.lock
  pubspec.yaml
Due: none
