Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

test
  android/fastlane/Fastfile
Due: android

test
  .github/workflows/distribute-flutter-android.yml
Due: none

teste
  .github/workflows/distribute-flutter-android.yml
Due: none

teste
  android/app/build.gradle
Due: android

teste
  .github/workflows/distribute-flutter-android.yml
  android/app/build.gradle
Due: android

teste nao assinando app para teste
  .github/workflows/distribute-flutter-android.yml
  android/fastlane/Fastfile
Due: android

fix
  android/fastlane/Fastfile
Due: android

retornar arquivo como era
  .github/workflows/distribute-flutter-android.yml
Due: none

retornar configuracao original para futuro desenvolvimento
  .github/workflows/distribute-flutter-android.yml
Due: none

Update README.md
  README.md
Due: none

Apply suggestion from @diraol
  README.md
Due: none

Update README.md (#493)
  README.md
Due: none

Fix formatting in README table of contents
  README.md
Due: none

Fix formatting in README table of contents (#494)
  README.md
Due: none

Create circulo-penhas.md
  circulo-penhas.md
Due: none

[Circulo Penhas][Doc] Pequenas correções
  docs/circulo-penhas.md
Due: none

fix(feed): delete button now works and UI updates immediately after publish/delete
  lib/app/features/feed/domain/usecases/feed_use_cases.dart
  lib/app/features/feed/presentation/feed_controller.dart
Due: lib

Update version in pubspec.yaml and modify Fastfile to remove FVM prefix from Flutter commands
  android/fastlane/Fastfile
  pubspec.yaml
Due: android

refactor(feed): format code for better readability in feed_controller.dart
  lib/app/features/feed/presentation/feed_controller.dart
Due: lib

chore(ci): add step to install iOS platform in Flutter distribution workflow
  .github/workflows/distribute-flutter-ios.yml
Due: none

chore(ci): add step to install FlutterFire CLI in iOS distribution workflow
  .github/workflows/distribute-flutter-ios.yml
Due: none

security: disable JavaScript in WebViews loading static content
  lib/app/features/authentication/presentation/sign_in/privacy_policy/privacy_policy_page.dart
  lib/app/features/authentication/presentation/sign_in/terms_of_use/terms_of_use_page.dart
  lib/app/features/main_menu/presentation/pages/about_penhas_page.dart
  test/app/features/authentication/presentation/mocks/webview_mocks.dart
  test/app/features/authentication/presentation/sign_in/privacy_policy/privacy_policy_page_test.dart
  test/app/features/main_menu/presentation/pages/about_penhas_page_test.dart
Due: lib

feat: improve pipeline to bumb versions
  .github/workflows/distribute-flutter-ios.yml
  android/fastlane/Fastfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/fastlane/Fastfile
Due: android, ios

fix: CI permissions
  .github/workflows/manual-distribution.yml
  .github/workflows/tester-email-distribute.yml
Due: none

fix: add audio recording palliative fallback
  lib/app/core/managers/audio_record_services.dart
  lib/app/features/help_center/data/repositories/audio_sync_repository.dart
Due: lib

feat: upload de áudio em background com background_downloader + lista otimista
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/build.gradle
  android/settings.gradle
  ios/Runner/Info.plist
  lib/app/app_module.dart
  lib/app/core/managers/audio_sync_manager.dart
  lib/app/features/help_center/data/repositories/audio_sync_repository.dart
  lib/app/features/help_center/domain/entities/audio_play_tile_entity.dart
  lib/app/features/help_center/presentation/audios/audios_controller.dart
  lib/app/features/help_center/presentation/audios/audios_page.dart
  lib/app/features/help_center/presentation/pages/audio/audio_play_widget.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Due: android, ios, lib

fix(audio): unblock boot + audios list loading; add unit tests
  lib/app/core/managers/audio_sync_manager.dart
  lib/app/features/help_center/presentation/audios/audios_controller.dart
  lib/main.dart
  test/app/core/managers/audio_sync_manager_test.dart
  test/app/features/help_center/data/repositories/audio_sync_repository_test.dart
  test/app/features/help_center/presentation/audios/audios_controller_test.dart
  test/app/features/help_center/presentation/audios/audios_page_test.dart
  test/app/features/help_center/presentation/pages/audio/audio_play_widget_test.dart
Due: lib

Path conditions:
  android: any of: android/**
  ios: any of: ios/**
  lib: any of: lib/**
