Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

fix mensagem quebrando notificacao
  lib/app/features/notification/presentation/pages/notification_card_page.dart
Due: lib

fix teste
  lib/app/features/notification/presentation/pages/notification_card_page.dart
  test/app/features/notification/presentation/goldens/ci/notification_page_loaded.png
Due: lib

(Fix) Correcao badges (#486)
  devtools_options.yaml
  lib/app/features/chat/presentation/chat/chat_channel_page.dart
  lib/app/features/chat/presentation/pages/chat_channel_card.dart
  lib/app/features/chat/presentation/pages/chat_people_card.dart
  lib/app/features/feed/presentation/detail_tweet/detail_tweet_page.dart
  lib/app/features/feed/presentation/reply_tweet/reply_tweet_page.dart
  lib/app/features/feed/presentation/tweet/reply_tweet.dart
  lib/app/features/feed/presentation/tweet/single_tweet.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_body.dart
  lib/app/features/notification/presentation/pages/notification_card_page.dart
  lib/app/features/users/presentation/user_profile_page.dart
  lib/app/shared/design_system/widgets/badges/user_badge_widget.dart
  test/app/features/notification/presentation/goldens/ci/notification_page_loaded.png
Due: lib

fix gradle
  android/app/build.gradle
Due: android

fix texto e add safearea
  lib/app/features/chat/presentation/pages/channel/chat_channel_message_composer.dart
  lib/app/shared/design_system/widgets/badges/user_badge_widget.dart
Due: lib

fix tags
  lib/app/shared/design_system/widgets/tags/tags.dart
Due: lib

fix race
  lib/app/features/appstate/data/repositories/app_state_repository.dart
  lib/app/features/main_menu/presentation/account/pages/card_profile_race_page.dart
Due: lib

fix notificacoes
  lib/app/features/notification/presentation/pages/notification_card_page.dart
Due: lib

fix test
  lib/app/features/notification/presentation/pages/notification_card_page.dart
Due: lib

update version
  pubspec.yaml
Due: none

alterar versao
  pubspec.yaml
Due: none

fix escape manual
  test/app/core/managers/app_configuration_test.dart
  test/app/features/chat/presentation/talk/chat_main_talks_page_test.dart
  test/app/features/escape_manual/presentation/escape_manual_page_test.dart
Due: none

Adiciona documentação mais detalhada do projeto
  docs/01-arquitetura.md
  docs/02-pilha-tecnologica.md
  docs/03-estrutura-projeto.md
  docs/04-funcionalidades.md
  docs/05-gerenciamento-estado.md
  docs/06-autenticacao-seguranca.md
  docs/08-testes.md
  docs/09-configuracao-desenvolvimento.md
  docs/10-build-deploy.md
  docs/11-feature-toggles.md
  docs/12-troubleshooting.md
  docs/README.md
Due: none

fix aceitar page
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/br/com/azmina/penhas/BootReceiverV15.kt
  android/build.gradle
  android/gradle.properties
Due: android

fix page
  android/app/build.gradle
  android/build.gradle
  android/gradle.properties
  android/settings.gradle
  lib/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_two/sign_up_two_page.dart
  lib/app/features/support_center/presentation/add/support_center_add_page.dart
  lib/app/features/support_center/presentation/pages/support_center_dropdown_input.dart
  pubspec.lock
  pubspec.yaml
Due: android, lib

fix
  .fvm/fvm_config.json
Due: none

fix
  .github/workflows/distribute-flutter-android.yml
  ios/Podfile.lock
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Due: ios

fix
  .github/workflows/distribute-flutter-android.yml
Due: none

test
  .github/workflows/check-generated-files.yml
Due: none

fix
  .github/workflows/check-generated-files.yml
Due: none

test ci
  .github/workflows/check-generated-files.yml
Due: none

test versoes
  .github/workflows/check-generated-files.yml
Due: none

teste ci
  pubspec.lock
Due: none

teste
  .github/workflows/check-generated-files.yml
Due: none

fix versao flutter
  .github/workflows/check-generated-files.yml
  ios/Podfile.lock
  lib/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_two/sign_up_two_page.dart
  lib/app/features/support_center/presentation/add/support_center_add_page.dart
  lib/app/features/support_center/presentation/pages/support_center_dropdown_input.dart
  pubspec.lock
  pubspec.yaml
Due: ios, lib

fix alerts
  .github/workflows/distribute-flutter-android.yml
Due: none

fix warnings
  .github/workflows/distribute-flutter-android.yml
Due: none

v1 para ruby
  .github/workflows/distribute-flutter-android.yml
Due: none

fix shell
  .github/workflows/distribute-flutter-android.yml
Due: none

fix gradle
  android/gradle.properties
Due: android

puts log
  android/fastlane/Fastfile
Due: android

Path conditions:
  android: any of: android/**
  ios: any of: ios/**
  lib: any of: lib/**
