Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

codecov.yml:

---
comment:                  # this is a top-level key
  layout: "header, diff, flags, components"  # show component info in the PR comment
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: false     # [true :: must have a base report to post]
  require_head: false     # [true :: must have a head report to post]

coverage:
  status:
    project:
      tests:
        paths: ["tests/"]
      android:
        paths: ["android/"]
      ios:
        paths: ["ios/"]
      lib:
        paths: ["lib/"]

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: android
      name: android
      paths:
        - android/**
    - component_id: ios
      name: ios
      paths:
        - ios/**
    - component_id: lib
      name: lib
      paths:
        - lib/**

feat(mainboard): handle AppLifecycleState.hidden in mainboard controller
  lib/app/features/mainboard/presentation/mainboard/mainboard_controller.dart
Due: lib

feat(mainboard): integrate support center bindings and controllers into MainboardModule
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
  lib/app/features/support_center/presentation/support_center_module.dart
Due: lib

feat(mainboard): add HelpCenterController and SecurityModeActionFeature bindings to MainboardModule
  lib/app/features/help_center/presentation/help_center_module.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
Due: lib

refactor(feed): simplify FeedModule bindings and enhance MainboardModule with feed dependencies
  lib/app/features/feed/presentation/feed_module.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
Due: lib

feat(mainboard): add escape manual feature bindings and dependencies to MainboardModule
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
Due: lib

refactor(tests): replace 'package:test/test.dart' with 'package:flutter_test/flutter_test.dart' in test files
  test/app/features/escape_manual/presentation/send_pending_escape_manual_task_test.dart
  test/app/features/quiz/domain/start_quiz_test.dart
  test/bootstrap/impl/background_tasks_runner_test.dart
  test/bootstrap/impl/main_app_runner_test.dart
  test/main_test.dart
Due: none

feat(mainboard): enhance MainboardModule with new chat feature bindings and controllers
  lib/app/features/chat/presentation/chat_main_module.dart
  lib/app/features/chat/presentation/chat_main_page.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_module.dart
Due: lib

refactor(app_widget): integrate Flutter Modular for routing and observer management
  lib/app/app_widget.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_controller.dart
Due: lib

refactor(user_profile): update dependency bindings for user profile module to use explicit type retrieval
  lib/app/features/users/presentation/user_profile_module.dart
Due: lib

adicionar id-token no actions
  .github/workflows/manual-distribution.yml
Due: none

fix modular escape page e ajustes design
  lib/app/features/chat/presentation/chat_main_page.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/feed/presentation/reply_tweet/reply_tweet_page.dart
  lib/app/features/feed/presentation/tweet/widgets/tweet_related_news.dart
Due: lib

fix designs quebrados
  lib/app/features/chat/presentation/chat_main_page.dart
  lib/app/features/escape_manual/escape_manual_module.dart
  lib/app/features/help_center/presentation/pages/help_center/help_center_action_guardian.dart
  lib/app/features/help_center/presentation/pages/help_center/help_center_action_police.dart
  lib/app/features/mainboard/presentation/mainboard/mainboard_page.dart
  lib/app/features/mainboard/presentation/mainboard/pages/mainboard_bottom_navigation_page.dart
Due: lib

fix golden tests
  lib/app/features/feed/presentation/tweet/widgets/tweet_avatar.dart
  test/app/features/authentication/presentation/deleted_account/goldens/ci/deleted_account_page.png
  test/app/features/authentication/presentation/reset_password/goldens/ci/reset_password_page_step_1.png
  test/app/features/authentication/presentation/reset_password/pages/reset_password_three/goldens/ci/reset_password_page_step_3.png
  test/app/features/authentication/presentation/reset_password/pages/reset_password_two/goldens/ci/reset_password_page_step_2.png
  test/app/features/authentication/presentation/sign_in/privacy_policy/goldens/ci/privacy_policy_page.png
  test/app/features/escape_manual/presentation/edit/goldens/ci/edit_trusted_contacts_page.png
  test/app/features/escape_manual/presentation/edit/goldens/ci/edit_trusted_contacts_page_with_remove_contact_dialog.png
  test/app/features/escape_manual/presentation/edit/goldens/ci/edit_trusted_contacts_page_with_update_contact_dialog.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_task_options.png
  test/app/features/escape_manual/presentation/goldens/ci/escape_manual_page_task_options_edit.png
  test/app/features/feed/presentation/category_tweet/goldens/ci/category_tweet_page.png
  test/app/features/feed/presentation/compose_tweet/goldens/ci/compose_tweet_page_with_app_bar.png
  test/app/features/feed/presentation/compose_tweet/goldens/ci/compose_tweet_page_with_error.png
  test/app/features/feed/presentation/compose_tweet/goldens/ci/compose_tweet_page_with_text.png
  test/app/features/filters/presentation/pages/goldens/ci/filter_loaded_state_page.png
  test/app/features/help_center/presentation/pages/goldens/ci/guardian_tile_action.png
  test/app/features/help_center/presentation/pages/tutorial/guardian/goldens/ci/guardian_tutorial_page.png
  test/app/features/help_center/presentation/pages/tutorial/record/goldens/ci/record_tutorial_page.png
  test/app/features/main_menu/presentation/account/delete/goldens/ci/account_delete_page_error.png
  test/app/features/main_menu/presentation/account/delete/goldens/ci/account_delete_page_success.png
  test/app/features/main_menu/presentation/account/my_profile/skill/pages/goldens/ci/profile_skill_loaded_widget.png
  test/app/features/main_menu/presentation/account/pages/goldens/ci/card_profile_bio_page.png
  test/app/features/main_menu/presentation/account/pages/goldens/ci/card_profile_email_page.png
  test/app/features/main_menu/presentation/account/pages/goldens/ci/card_profile_name_page.png
  test/app/features/main_menu/presentation/account/pages/goldens/ci/card_profile_password_page.png
  test/app/features/main_menu/presentation/account/preference/goldens/ci/account_preference_page.png
  test/app/features/notification/presentation/goldens/ci/notification_page_empty.png
  test/app/features/notification/presentation/goldens/ci/notification_page_loaded.png
  test/app/features/quiz/presentation/tutorial/goldens/ci/stealth_mode_tutorial_page.png
  test/app/features/support_center/presentation/add/goldens/ci/support_center_add_page_error.png
  test/app/features/support_center/presentation/add/goldens/ci/support_center_add_page_loaded.png
  test/app/features/support_center/presentation/show/goldens/ci/support_center_show_page_error.png
  test/app/features/support_center/presentation/show/goldens/ci/support_center_show_page_loaded.png
  test/app/features/zodiac/presentation/goldens/ci/zodiac_page.png
Due: lib

adicionar mais permissoes ao actions
  .github/workflows/manual-distribution.yml
Due: none

remover depreciado fastlane
  ios/fastlane/Fastfile
Due: ios

fix fastlane
  ios/fastlane/Fastfile
Due: ios

tentativa fix
  .github/workflows/distribute-flutter-ios.yml
  ios/fastlane/Fastfile
Due: ios

try fix
  .github/workflows/distribute-flutter-ios.yml
  ios/fastlane/Fastfile
Due: ios

retornar erro original
  .github/workflows/distribute-flutter-ios.yml
  ios/fastlane/Fastfile
Due: ios

fix build ios
  ios/Podfile.lock
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  ios/Runner/AppDelegate.swift
  lib/app/core/managers/impl/background_task_manager.dart
  lib/app/features/mainboard/presentation/mainboard/pages/mainboard_notification_page.dart
  pubspec.lock
  pubspec.yaml
Due: ios, lib

gerar apk em dev
  lib/app/core/managers/app_configuration.dart
Due: lib

Update lib/app/features/authentication/presentation/deleted_account/deleted_account_page.dart
  lib/app/features/authentication/presentation/deleted_account/deleted_account_page.dart
Due: lib

Update lib/app/features/authentication/presentation/reset_password/pages/reset_password_three/reset_password_three_page.dart
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_three/reset_password_three_page.dart
Due: lib

Update lib/app/features/authentication/presentation/reset_password/pages/reset_password_two/reset_password_two_page.dart
  lib/app/features/authentication/presentation/reset_password/pages/reset_password_two/reset_password_two_page.dart
Due: lib

Update lib/app/features/authentication/presentation/reset_password/reset_password_page.dart
  lib/app/features/authentication/presentation/reset_password/reset_password_page.dart
Due: lib

Update lib/app/features/authentication/presentation/shared/login_button.dart
  lib/app/features/authentication/presentation/shared/login_button.dart
Due: lib

Update lib/app/features/authentication/presentation/shared/page_progress_indicator.dart
  lib/app/features/authentication/presentation/shared/page_progress_indicator.dart
Due: lib

Update lib/app/features/support_center/presentation/support_center_page.dart
  lib/app/features/support_center/presentation/support_center_page.dart
Due: lib

Update lib/app/features/authentication/presentation/shared/password_text_input.dart
  lib/app/features/authentication/presentation/shared/password_text_input.dart
Due: lib
