Repository institutoazmina/penhas-app: changes, and which Codecov flags are due for each by the changed paths.
All: android, ios, lib

fix: Apresenta mensagem de erro
  lib/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_two/sign_up_two_controller.dart
Due: lib

test: Apresenta mensagem de erro do servidor
  test/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_two/sign_up_two_page_test.dart
Due: none

test: Sucesso avança no fluxo
  test/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_two/sign_up_two_page_test.dart
Due: none

test: Apresenta todos os elementos da tela
  test/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_three/sign_up_three_page_test.dart
Due: none

fix: Null password não crash a app
  lib/app/features/authentication/presentation/shared/user_register_form_field_model.dart
  test/app/features/authentication/presentation/shared/user_register_form_field_model_test.dart
Due: lib

fix: Validação do campo de senha no formulário pode crashar a app
  lib/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_three/sign_up_three_controller.dart
Due: lib

test: Mensagens informativas para campos inválidos
  test/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_three/sign_up_three_page_test.dart
Due: none

test: Utilizando extensão do dartz
  test/app/features/authentication/presentation/reset_password/pages/reset_password_three/reset_password_three_page_test.dart
Due: none

test: Cria usuário com sucesso
  test/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_three/sign_up_three_page_test.dart
Due: none

test: Apresenta mensagem de erro enviado pelo servidor
  test/app/features/authentication/presentation/sign_in/sign_up/pages/sign_up_three/sign_up_three_page_test.dart
Due: none

test: Cobertura de teste via golden test
  test/app/features/authentication/presentation/sign_in_stealth/goldens/ci/sign_in_stealth_page.png
  test/app/features/authentication/presentation/sign_in_stealth/sign_in_stealth_page_test.dart
Due: none

fix: limpa mensagem de erro antes de definir a nova mensagem
  lib/app/features/authentication/presentation/sign_in_stealth/sign_in_stealth_controller.dart
Due: lib

test: cobertura com widget test
  test/app/features/authentication/presentation/sign_in_stealth/sign_in_stealth_page_test.dart
Due: none

refactor: Refatorado o teste que estava quebrado com a atualização do Flutter Modular Test
  test/app/features/escape_manual/escape_manual_module_test.dart
Due: none

Disable Android auto backup
  android/app/src/main/AndroidManifest.xml
Due: android

Enable secure storage reset on error
  lib/app/core/storage/secure_local_storage.dart
Due: lib

chore: Configuração para permitir criar a imagem do Golden Test pelo VSCode no arquivo de teste
  penhas.code-workspace
Due: none

test: teste reativado
  test/app/features/authentication/presentation/shared/login_button_test.dart
Due: none

fix: removido comentário inútil
  lib/app/features/authentication/presentation/shared/login_button.dart
Due: lib

test: Cobertura do LoginButton
  test/app/features/authentication/presentation/shared/goldens/ci/authentication_shared_login_button.png
  test/app/features/authentication/presentation/shared/login_button_test.dart
Due: none

fix: Ativa variável para o ambiente Golden Test
  .github/workflows/code-coverage.yml
  .github/workflows/code-quality.yml
Due: none

test: Cobertura no SingleTextInput
  test/app/features/authentication/presentation/shared/goldens/ci/authentication_shared_single_text_input.png
  test/app/features/authentication/presentation/shared/single_text_input_test.dart
Due: none

test: Cobertura do PassordInputField
  test/app/features/authentication/presentation/shared/goldens/ci/authentication_shared_password_input_field.png
  test/app/features/authentication/presentation/shared/password_text_input_test.dart
Due: none

test: Aumentando a cobertura no UserRegisterFormFieldModel
  test/app/features/authentication/presentation/shared/user_register_form_field_model_test.dart
Due: none

test: Cobertura de teste do UserRegisterFormFieldModel
  test/app/features/authentication/presentation/shared/user_register_form_field_model_test.dart
Due: none

test: Cobertura do PageProgressIndicator
  test/app/features/authentication/presentation/shared/page_progress_indicator_test.dart
Due: none

test: Cobertura widgets test para o PassordInputField
  test/app/features/authentication/presentation/shared/password_text_input_test.dart
Due: none

fix: validateSocialName tem que utilizar `socialName`
  lib/app/features/authentication/presentation/shared/user_register_form_field_model.dart
Due: lib

test: Cobertura dos componentes WhiteBoxDecorationStyle e PurpleBoxDecorationStyle
  test/app/features/authentication/presentation/shared/goldens/ci/purple_box_decoration_style.png
  test/app/features/authentication/presentation/shared/goldens/ci/white_box_decoration_style.png
  test/app/features/authentication/presentation/shared/input_box_style_test.dart
Due: none

chore: Habilitado o `isAutofocus` para ambiente de teste
  lib/app/features/authentication/presentation/shared/password_text_input.dart
Due: lib

fix: Reativar teste
  test/app/features/escape_manual/escape_manual_module_test.dart
  test/utils/test_utils.dart
Due: none

fix: Agrupamento do 'golden test'
  test/app/features/authentication/presentation/sign_in_stealth/sign_in_stealth_page_test.dart
Due: none

fix: Updated to a valid git ref of the modular lib
  pubspec.lock
Due: none

test: SplashPage in anonymous states forward `authentication`
  lib/app/features/splash/splash_module.dart
  test/app/features/splash/splash_page_test.dart
Due: lib

SplashPage in authenticated states forward to `authentication` in ServerFailure
  test/app/features/splash/splash_page_test.dart
Due: none

SplashPage in authenticated states for unmapped error and in stealth mode forward to `stealthModeEnabled`
  test/app/features/splash/splash_page_test.dart
Due: none

SplashPage in authenticated states for unmapped error and in anonymous mode forward to `anonymousModeEnabled`
  test/app/features/splash/splash_page_test.dart
Due: none

SplashPage in authenticated states for unmapped error and not in security mode forward to `feed`
  test/app/features/splash/splash_page_test.dart
Due: none

SplashPage in authenticated states goes to a quiz session for a pending quiz
  test/app/features/splash/splash_page_test.dart
Due: none

Path conditions:
  android: any of: android/**
  ios: any of: ios/**
  lib: any of: lib/**
